section.section-inset-1
  .container
    h4 Related Products
    .row.offset-custom-5.clearleft-custom
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1.product
          img(src="images/product-1.jpg" alt="")
          .caption-mod-1
            h6: a.text-success-custom(href="shop-product.html") Junk Food Ladies <br> Get Friendly
            .caption-footer.text-left
              span.h4 $29.00
              span.text-gray $39.00
              span.icon.icon-success.icon-shop.fa-shopping-cart.pull-right

      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1.product
          img(src="images/product-2.jpg" alt="")
          .caption-mod-1
            h6: a.text-success-custom(href="shop-product.html") White Retro Totem Print
            .caption-footer.text-left
              span.h4 $29.00
              span.text-gray $39.00
              span.icon.icon-success.icon-shop.fa-shopping-cart.pull-right

      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1.product
          img(src="images/product-3.jpg" alt="")
          .caption-mod-1
            h6: a.text-success-custom(href="shop-product.html") Official LFC Tee
            .caption-footer.text-left
              span.h4 $29.00
              span.text-gray $39.00
              span.icon.icon-success.icon-shop.fa-shopping-cart.pull-right

      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1.product
          img(src="images/product-4.jpg" alt="")
          .caption-mod-1
            h6: a.text-success-custom(href="shop-product.html") Official LFC Tee
            .caption-footer.text-left
              span.h4 $29.00
              span.text-gray $39.00
              span.icon.icon-success.icon-shop.fa-shopping-cart.pull-right
