section.section.section-inset-1.bg-accent
  .container
    h2 Selection of high quality films
    hr
    p.h5.fw-l Tristique senectus et netus et. Sit amet aliquam id diam maecenas ultricies mi eget
      br.d-none.d-xl-inline
      | tortor aliquam nulla facilisi cras fermentum.
    .btn-group-variant
      a.btn.btn-fourth.btn-sm.btn-min-width(href='#') Learn more
      a.btn.btn-sm.btn-min-width.btn-white(href='#') contact us