section
  .container.section
    h2 A few words about us
    hr
    p.h5.fw-l Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      br.d-none.d-xl-inline
      |  Fermentum leo vel orci porta non pulvinar neque laoreet.
    .row.clearleft-custom.row-60.offset-custom-2
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          span.icon.icon-success.icon-lg.icon-mod-1.fa-check-square-o
          .caption
            h4  WHY CHOOSE US
            p Turpis egestas integer eget aliquet nibh praesent tristique magna sit. Scelerisque mauris pellentesque pulvinar pellentesque.
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          span.icon.icon-success.icon-lg.icon-mod-1.fa-line-chart
          .caption
            h4  OUR MISSION
            p Turpis cursus in hac habitasse platea dictumst quisque sagittis purus.
      .col-12.col-md-12.col-xl-4
        .thumbnail.thumbnail-mod-2
          span.icon.icon-success.icon-lg.icon-mod-1.fa-cogs
          .caption
            h4  WHAT WE DO
            p Nulla aliquet enim tortor at auctor urna nunc. Elementum sagittis vitae et leo duis.