section.section.section-inset-1.bg-gray-900
  .container
    h2.text-center Partners & testimonials
    hr

    // Owl Carousel
    .owl-carousel(data-items='1', data-loop='false', data-margin='30', data-dots="true")
      .owl-item
        .row.row-60.justify-content-center
          .col-12.col-md-4.col-xl-3
            .thumbnail.thumbnail-mod-1
              img(src="images/partner-7.png" alt="")
              .caption-mod-1
                h6.text-success-custom.text-primary Retro Press TRDM.
                a.text-gray(href="#") demolink.org
          .col-12.col-md-8.col-xl-4.text-md-left
            p Felis donec et odio pellentesque diam volutpat commodo sed egestas. Donec enim diam vulputate ut. Consectetur adipiscing elit duis tristique. Felis eget nunc lobortis mattis.
            p Porta lorem mollis aliquam ut. Diam vel quam elementum pulvinar etiam non quam. In dictum non consectetur a erat nam at lectus. Risus commodo viverra maecenas accumsan lacus.
          .col-12.col-md-8.col-md-offset-2.col-xl-5.col-xl-offset-0.text-md-left
            blockquote.quote-1.bg-dark
              .media.flex-column.flex-md-row
                .media-left
                  img.rounded-circle(src="images/index-12.jpg" alt="")
                .media-body
                  p: q Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Blandit libero volutpat sed cras ornare.
                  p: cite Michelle Smith, manager
            blockquote.quote-1.bg-dark.offset-custom-5
              .media.flex-column.flex-md-row
                .media-left
                  img.rounded-circle(src="images/index-13.jpg" alt="")
                .media-body
                  p: q Vitae tortor condimentum lacinia quis vel eros donec.
                  p: cite Timothy Holmes, manager
      .owl-item
        .row.row-60.justify-content-center
          .col-12.col-md-4.col-xl-3
            .thumbnail.thumbnail-mod-1
              img(src="images/partner-7.png" alt="")
              .caption-mod-1
                h6.text-success-custom.text-primary Retro Press TRDM.
                a.text-gray(href="#") demolink.org
          .col-12.col-md-8.col-xl-4.text-md-left
            p Orci a scelerisque purus semper. Nibh ipsum consequat nisl vel pretium lectus quam id leo.
            p Ut consequat semper viverra nam libero justo laoreet. Non enim praesent elementum facilisis leo vel. Pretium viverra suspendisse potenti nullam ac tortor. Urna duis convallis convallis tellus id interdum velit. Ut tellus elementum sagittis vitae et leo duis ut. Enim nulla aliquet porttitor lacus.
          .col-12.col-md-8.col-md-offset-2.col-xl-5.col-xl-offset-0.text-md-left
            blockquote.quote-1.bg-dark
              .media.flex-column.flex-md-row
                .media-left
                  img.rounded-circle(src="images/index-12.jpg" alt="")
                .media-body
                  p: q Euismod elementum nisi quis eleifend quam adipiscing vitae.
                  p: cite Michelle Smith, manager
            blockquote.quote-1.bg-dark.offset-custom-5
              .media.flex-column.flex-md-row
                .media-left
                  img.rounded-circle(src="images/index-13.jpg" alt="")
                .media-body
                  p: q Turpis massa tincidunt dui ut ornare.
                  p: cite Timothy Holmes, manager
      .owl-item
        .row.row-60.justify-content-center
          .col-12.col-md-4.col-xl-3
            .thumbnail.thumbnail-mod-1
              img(src="images/partner-7.png" alt="")
              .caption-mod-1
                h6.text-success-custom.text-primary Retro Press TRDM.
                a.text-gray(href="#") demolink.org
          .col-12.col-md-8.col-xl-4.text-md-left
            p Interdum posuere lorem ipsum dolor. Donec enim diam vulputate ut pharetra sit amet. Amet massa vitae tortor condimentum lacinia. Facilisi morbi tempus iaculis urna.
            p Ac tortor dignissim convallis aenean et tortor at risus. Placerat orci nulla pellentesque dignissim enim sit amet venenatis.
          .col-12.col-md-8.col-md-offset-2.col-xl-5.col-xl-offset-0.text-md-left
            blockquote.quote-1.bg-dark
              .media.flex-column.flex-md-row
                .media-left
                  img.rounded-circle(src="images/index-12.jpg" alt="")
                .media-body
                  p: q Volutpat maecenas volutpat blandit aliquam.
                  p: cite Michelle Smith, manager
            blockquote.quote-1.bg-dark.offset-custom-5
              .media.flex-column.flex-md-row
                .media-left
                  img.rounded-circle(src="images/index-13.jpg" alt="")
                .media-body
                  p: q Ut aliquam purus sit amet luctus.
                  p: cite Timothy Holmes, manager
