section.section.section-inset-1.bg-light
  .container
    h2 Our partners
    hr
    .row.row-45
      .col-12.col-md-6.col-lg-4
        .thumbnail.thumbnail-mod-2
          img(src='images/partner-8.png' alt="")
          .caption-mod-1
            h6.text-success-custom.text-primary Tourner
            a.text-gray(href="#") www.tourner.com
            p We believe in the ability of all people to thrive, not just exist.
      .col-12.col-md-6.col-lg-4
        .thumbnail.thumbnail-mod-2
          img(src='images/partner-9.png' alt="")
          .caption-mod-1
            h6.text-success-custom.text-primary Frank`s Co.
            a.text-gray(href="#") www.franksco.com
            p We are open and transparent about the work we do and how we do it.
      .col-12.col-md-12.col-lg-4
        .thumbnail.thumbnail-mod-2
          img(src='images/partner-10.png' alt="")
          .caption-mod-1
            h6.text-success-custom.text-primary Retro Press
            a.text-gray(href="#") www.retropress.com
            p We are commited to achieving demonstrable impact for our stakeholders.