section.section.section-inset-1
  .container
    h2.text-center Our partners
    hr
    .row.text-md-left.row-55.clearleft-custom
      .col-12.col-md-6
        .media.flex-column.flex-md-row
          .media-left
            img(src="images/partner-1.png" alt="")
          .media-body
            h6.text-success-custom.text-primary Tourner
            a.text-gray(href="#") www.tourner.com
            p Sed libero enim sed faucibus turpis in eu. Felis imperdiet proin fermentum leo vel orci porta non.
      .col-12.col-md-6
        .media.flex-column.flex-md-row
          .media-left
            img(src="images/partner-2.png" alt="")
          .media-body
            h6.text-success-custom.text-primary Frank`s Co.
            a.text-gray(href="#") www.franksco.com
            p Sed viverra tellus in hac habitasse platea dictumst. Leo urna molestie at elementum eu facilisis sed odio. Malesuada proin libero nunc consequat interdum varius sit amet.
      .col-12.col-md-6
        .media.flex-column.flex-md-row
          .media-left
            img(src="images/partner-3.png" alt="")
          .media-body
            h6.text-success-custom.text-primary Retro Press
            a.text-gray(href="#") www.retropress.com
            p Accumsan lacus vel facilisis volutpat. Est sit amet facilisis magna etiam tempor orci eu. Et magnis dis parturient montes.
      .col-12.col-md-6
        .media.flex-column.flex-md-row
          .media-left
            img(src="images/partner-4.png" alt="")
          .media-body
            h6.text-success-custom.text-primary Retro Beats
            a.text-gray(href="#") www.retrobeats.com
            p In cursus turpis massa tincidunt dui ut ornare lectus sit. Fermentum iaculis eu non diam phasellus.