section.section.bg-light
  .container
    h2 How it works?
    hr
    .row.clearleft-custom.row-60.offset-custom-2
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          span.icon.icon-success.icon-lg.icon-mod-1.fa-user
          .caption
            h4  Create
              br
              | an account
            p Sodales ut eu sem integer vitae justo eget. Sem nulla pharetra diam sit amet.
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          span.icon.icon-success.icon-lg.icon-mod-1.fa-money
          .caption
            h4  Choose
              br
              | your Plan
            p Enim nec dui nunc mattis enim ut tellus elementum. Velit euismod in pellentesque massa placerat.
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          span.icon.icon-success.icon-lg.icon-mod-1.fa-thumbs-up
          .caption
            h4  Select Your
              br
              | film or TV Show
            p Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices.
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          span.icon.icon-success.icon-lg.icon-mod-1.fa-film
          .caption
            h4  Enjoy and
              br
              | Rate Movies
            p Euismod quis viverra nibh cras pulvinar. Magna fringilla urna porttitor rhoncus dolor purus non.