section.section.section-inset-2
  .container
    h2 Movie genres
    hr
    .row.text-md-left.row-55
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-cloud
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Fantasy
            p Venenatis lectus magna fringilla urna porttitor rhoncus dolor. Amet purus gravida quis blandit. Sed enim ut sem viverra aliquet eget. Tristique senectus et netus et.
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-bolt
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Action movies
            p Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Gravida in fermentum et sollicitudin ac orci phasellus. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum.
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-star
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Crime
            p Adipiscing elit ut aliquam purus sit amet luctus venenatis. Pellentesque elit eget gravida cum. Enim ut tellus elementum sagittis vitae et leo.
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-user
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Biographical
            p Etiam dignissim diam quis enim lobortis scelerisque fermentum. Ipsum dolor sit amet consectetur.
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-space-shuttle
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Military
            p Vel turpis nunc eget lorem dolor sed viverra ipsum. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat.
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-star
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Adventure
            p olutpat est velit egestas dui id ornare arcu odio. Vitae turpis massa sed elementum tempus.
