section.section.section-inset-1
  .container
    h2 the heart of MOOV
    hr
    .row.justify-content-center
      .col-12.col-lg-8.col-lg-offset-2
        .thumbnail
          img.rounded-circle(src="images/team-member-1.jpg" alt="")
          .caption-mod-1
            h4 Mark johnson
            span.h5.fw-l Manager
            ul.list-inline.list-inline-2
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-pinterest-p(href="#")
              li: a.fa-vimeo(href="#")
              li: a.fa-google(href="#")
            p.text-md-left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus.
            p.text-md-left Sit amet mattis vulputate enim. Fermentum leo vel orci porta non pulvinar. Velit egestas dui id ornare arcu odio ut sem. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc.
            p.text-md-left Bibendum arcu vitae elementum curabitur vitae nunc. Erat velit scelerisque in dictum. Tortor consequat id porta nibh venenatis cras sed. Sed egestas egestas fringilla phasellus faucibus.