extends  ../_skeleton

block variables
  - var activeIndex = 5
block title
  title Shopping Cart
block page
  // Page Header
  -var header_class = "bg-blog"
  -var header_h1 = "<span class='font-weight-bold'>shopping cart</span>"
  -var header_small = "Choose your Favorite Movies"
  -var header_big = ""
  -var page_active = "Shopping Cart"
  -var page_parent = "Shop"
  include ../elements/_header-transparent
  // Page Content
  main.page-content
    include ../section/about/_section-breadcrumb
    include ../section/shop/_section-shop-2

  // Page Footer
  include ../elements/_footer-light-center