extends  ../_skeleton
include ../mixin/_mixin-section
include ../mixin/_mixin-pagination
block variables
  - var activeIndex = 5
block title
  title Product Catalog
block page
  // Page Header
  -var header_class = "bg-blog"
  -var header_h1 = "<span class='font-weight-bold'>Shop</span>"
  -var header_small = "Choose your Favorite Movies"
  -var header_big = ""
  -var page_active = "Product Catalog"
  -var page_parent = "Shop"
  include ../elements/_header-transparent
  // Page Content
  main.page-content
    include ../section/about/_section-breadcrumb
    section.section.section-inset-2
      .container
        h2.text-center Product catalog
        hr
        .row.row-45.justify-content-center
          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-1.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) Ant-Man and the Wasp
              p.text-gray 2018, USA, Action
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2.text-gray
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-2.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) Avengers: Infinity War
              p.text-gray 2018, USA, Action, Fantasy
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-3.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) The Flash
              p.text-gray 2014, USA, Action
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-4.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) Game of Thrones
              p.text-gray 2018, USA, Adventure, Action
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-5.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) Titans
              p.text-gray 2018, USA, Drama, Action
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2.text-gray
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-6.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) Aquaman
              p.text-gray 2018, USA, Action, Fantasy
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-7.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) Hold the Dark
              p.text-gray 2018, USA, Adventure, Mystery
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

          .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
              img(src="images/gallery-8.jpg" alt="")
            .caption-1
              .caption-wrapper
            .poster-blog.text-left
              h6.text-gray-900.offset-top-20
                a( href='shop-product.html' ) The Predator
              p.text-gray 2018, USA, Adventure, Horror
              .review
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
                span.icon.fa-star.icon-waring-2
              .price.text-left
                ul
                  li $29.00
                  li: a.letter-spacing-2(href='#' ) BUY MOVIE

  // Page Footer
  include ../elements/_footer-light-center