//
// Custom Thumbnails
// --------------------------------------------------

// Make thumbnails to fit entire container width
.thumbnail-block {
	display: block;

	> img,
	a > img {
		width: 100%;
		height: auto;
	}
}

.thumbnail,
.thumbnail-2 {
	> img,
	> img,
	a > img,
	a > img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

.thumbnail {
	padding: 0;
	border: none;
	background: transparent;

	.caption {
		margin-top: 54px;

		&-mod-1 {
			margin-top: 20px;

			* + a { margin-top: 10px; }

		}
		&-mod-2 {
			margin-top: 30px;
		}
		&-mod-3 {
			margin-top: 10px;
			@include media-breakpoint-up(xl) {
				padding: 0 200px;
			}
		}
		&-mod-4 {
			margin-top: 4px;
			.blog-post-body {
				margin-top: 15px;
			}
		}
	}
	a { display: inline-block; }

	&-mod-1 {
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
	}

	&-mod-2 {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}

	span {
		display: inline-block;
	}

	h6 + span { margin-top: 5px; }
	span + p { margin-top: 15px; }
}

.thumbnail-1 {
	padding: 0;

	.caption {
		margin-top: 17px;
	}
}

.thumbnail-2 {
	@extend .thumbnail;
	position: relative;
	overflow: hidden;

	.caption {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 100%;
		margin-top: 0;
		transition: .4s;
		transform: translateX(-50%);

		.list-inline {
			margin-bottom: 10px;
		}

		@include media-breakpoint-up(xl) {
			transform: translateY(33%) translateX(-50%);

			h6 + span {
				margin-top: 0;
			}

			.list-inline {
				margin-top: 5px;
				margin-bottom: 17px;
				opacity: 0;
				transition: .4s;
			}
		}
	}

	h6 { color: $white-clr; }
	span,
	.fa-facebook,
	.fa-twitter,
	.fa-google-plus,
	.fa-pinterest-p,
	.fa-vimeo,
	.fa-google,
	.fa-rss { color: $gray; }

	.fa-facebook,
	.fa-twitter,
	.fa-google-plus,
	.fa-pinterest-p,
	.fa-vimeo,
	.fa-google,
	.fa-rss {
		&:hover {
			color: $white-clr;
		}
	}

	&:hover {
		.caption {
			transform: translateY(0) translateX(-50%);
			.list-inline { opacity: 1; }
		}
	}
}

.thumbnail-3 {
	.caption { padding: 30px; }
}

.thumbnail-gallery-gird {
	max-height: 174px;

	@include media-breakpoint-up(md) {
		max-height: none;
	}

}

.thumbnail-gallery {
	position: relative;
	margin-bottom: 0;
	overflow: hidden;

	h6 {
		transition: .3s all ease;
		display: inline-block;
	}

	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	img {
		width: 100%;
	}

	.caption {
		position: absolute;
		top: 70%;
		bottom: 0;
		left: 0;
		right: -3px;
		opacity: 1;
		visibility: visible;
		transition: .5s;
		background-color: rgba($primary, .58);

		@media (min-width: 1025px) {
			opacity: 0;
			visibility: hidden;
			top: 0;
			bottom: 0;
			left: 0;
			right: -3px;
		}

		&-wrapper {
			position: absolute;
			top: 64%;
			left: 50%;
			width: 90%;
			transform: translate(-50%, -100%);
			transition: .5s;

			@include media-breakpoint-up(lg) {
				top: 50%;
				left: 50%;
				width: 90%;

				.iphone &,
				.ipad & {
					top: 80%;
				}
			}

			@include media-breakpoint-up(xl) {
				top: 50%;
			}
		}

		.icon {
			display: none;
		}

		h4,
		p {
			margin-top: 6%;
		}

		p {
			display: none;
			@media (min-width: 1440px) {
				display: block;
			}
		}

		@media (max-width: 991px) {
			.icon-md { font-size: 20px; }
			h4 { font-size: 16px; }
		}
	}

	&:hover {
		.caption {
			opacity: 1;
			visibility: visible;
		}

		.caption-wrapper {
			transform: translate(-50%, -50%);

			.icon {
				cursor: pointer;
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px ) {
	.thumbnail-gallery-gird .caption {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: auto;
		bottom: 0;
		max-height: 50%;
		min-height: 40%;
		overflow: hidden;

		h4{
			margin-top: 0;
		}
	}
	.thumbnail-gallery-gird {
		&:hover{
			.caption-wrapper{
				transform: none;
			}
		}
		.caption-wrapper {
			position: static ;
			transform: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			height: 100%;
		}
	}
}


.cobbles-gallery {
	.thumbnail-gallery {
		@include media-breakpoint-up(sm) {
			width: 50%;
		}
		@include media-breakpoint-up(md) {
			width: 25%;
		}
	}
}

.masonry-gallery {
	&[data-isotope-layout] {
		[class*="col-"] { margin-top: 30px; }
	}
	.caption {
		left: 15px;
		right: 11px;
	}
}


.thumbnail-gallery {
	.isotope-grid & {
		overflow: visible;
	}

	a {
		display: block;
	}

	img {
		width: 101%;
		height: 101%;
		max-width: 101%;
		object-fit: cover;
	}
	.text-style {
		text-align: left;
		@media screen and (min-width:400px) and (max-width:575px) {
			text-align: center;
		}
	}

	.caption-2 {
		position: absolute;
		top: 0;
		bottom: 108px;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: .5s;
		background-color: rgba($black, .58);
		.icon {
			font-size: 60px;
			line-height: 60px;
		}
		a {
			display: inline-block;
		}
		@include media-breakpoint-up(lg) {
			bottom: 106px;
		}
		&-wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 90%;
			transform: translate(-50%, -100%);
			transition: .5s;
		}
		h4,
		p {
			margin-top: 6%;
		}
		p {
			display: none;
			@media (min-width: 1440px) {
				display: block;
			}
		}
		@media (max-width: 991px) {
			.icon-md { font-size: 20px; }
			h4 { font-size: 16px; }
		}
	}
}

.thumbnail-gallery-wrapper {
	&:hover {
		.caption-2 {
			opacity: 1;
			visibility: visible;
		}
		.caption-wrapper {
			transform: translate(-50%, -100%);
			@include media-breakpoint-up(lg) {
				transform: translate(-50%, -50%);
			}
		}
	}
}

.thumbnail-main-section {
	right: -16%;
	@include media-breakpoint-up(sm) {
		right: 0;
	}
}

.cobbles-gallery {
	.thumbnail-gallery {
		@include media-breakpoint-up(sm) {
			width: 50%;
		}
		@include media-breakpoint-up(md) {
			width: 25%;
		}
	}
}

.masonry-gallery {
	&[data-isotope-layout] {
		[class*="col-"] { margin-top: 30px; }
	}

	.caption-2 {
		left: 15px;
		right: 12px;
	}
}
.thumbnail-gallery {
	.title-block {
		a {
			color: $gray-900;
			transition: .3s all ease;
			&:hover {
				color: $primary;
			}
		}
	}
}
