.progress-container.row.offset-custom-7.row-60
  // Progress Bar
  .col-md-6.col-lg-3
    .thumbnail-mod-1
      .progress-bar-circle(data-value='0.5' data-gradient="#d81a24" data-empty-fill='rgb(245,245,245)' data-size='150' data-thickness='10')
        span
      p.h5.progress-bar-circle-title Leadership
  .col-md-6.col-lg-3
    .progress-bar-circle(data-value='0.75' data-gradient="#d81a24" data-empty-fill='rgb(245,245,245)' data-size='150' data-thickness='10')
      span
    p.h5.progress-bar-circle-title Management
  .col-md-6.col-lg-3
    .progress-bar-circle(data-value='0.25' data-gradient="#d81a24" data-empty-fill='rgb(245,245,245)' data-size='150' data-thickness='10')
      span
    p.h5.progress-bar-circle-title Interface Resilience
  .col-md-6.col-lg-3
    .progress-bar-circle(data-value='1.0' data-gradient="#d81a24" data-empty-fill='rgb(245,245,245)' data-size='150' data-thickness='10')
      span
    p.h5.progress-bar-circle-title Creativity
