.col-12.col-lg-4.blog-sidebar
  +sidebar-module('', 'about us')
    .thumbnail-3.thumbnail-mod-2
      img(src="images/index-14.jpg" alt="")
      .caption
        p Accumsan sit amet nulla facilisi morbi. Ac felis donec et odio pellentesque diam volutpat.
        a.btn.btn-success.btn-sm(href="about.html") learn more
  +sidebar-module('sidebar-module-inset-1', 'latest blog posts')
    ul.list-unstyled.text-lg-left
      li
        h6: a.text-success-custom(href="blog_post.html") "Better Call Saul" Writer Offers Advice
        .blog-post-time
          time(datetime="2018-12-28") December 28, 2018
      li
        h6: a.text-success-custom(href="blog_post.html") "Single Parents" Lands Full-Season Order From ABC
        .blog-post-time
          time(datetime="2018-12-28") December 28, 2018
      li
        h6: a.text-success-custom(href="blog_post.html") "Animals" Canceled After Three Seasons at HBO
        .blog-post-time
          time(datetime="2018-12-28") December 28, 2018
    a.btn.btn-success.btn-sm.sidebar-btn(href="#") view all blog posts
  +sidebar-module('','Gallery')
    .row.row-no-gutter.gallery(data-lightgallery="group")
      .col-md-6
        .img-thumbnail
          a.thumb(href="images/gallery-13_original.jpg" data-lightgallery="item")
            img(src="images/gallery-13.jpg" alt="" )
            span.thumb-overlay
      .col-md-6
        .img-thumbnail
          a.thumb(href="images/gallery-14_original.jpg" data-lightgallery="item")
            img(src="images/gallery-14.jpg" alt="" )
            span.thumb-overlay
      .col-md-6
        .img-thumbnail
          a.thumb(href="images/gallery-15_original.jpg" data-lightgallery="item")
            img(src="images/gallery-15.jpg" alt="" )
            span.thumb-overlay
      .col-md-6
        .img-thumbnail
          a.thumb(href="images/gallery-16_original.jpg" data-lightgallery="item")
            img(src="images/gallery-16.jpg" alt="" )
            span.thumb-overlay
      .col-md-6
        .img-thumbnail
          a.thumb(href="images/gallery-17_original.jpg" data-lightgallery="item")
            img(src="images/gallery-17.jpg" alt="" )
            span.thumb-overlay
      .col-md-6
        .img-thumbnail
          a.thumb(href="images/gallery-18_original.jpg" data-lightgallery="item")
            img(src="images/gallery-18.jpg" alt="" )
            span.thumb-overlay
  +sidebar-module('sidebar-module-inset-1','Clients')
    .row
      .col-md-6
        .img-thumbnail.img-thumbnail-mod-1
          a(href='#')
            img(src='images/partner-1.png' alt="")
      .col-md-6
        .img-thumbnail.img-thumbnail-mod-1
          a(href='#')
            img(src='images/partner-2.png' alt="")
      .col-md-6
        .img-thumbnail.img-thumbnail-mod-1
          a(href='#')
            img(src='images/partner-3.png' alt="")
      .col-md-6
        .img-thumbnail.img-thumbnail-mod-1
          a(href='#')
            img(src='images/partner-4.png' alt="")
      .col-md-6
        .img-thumbnail.img-thumbnail-mod-1
          a(href='#')
            img(src='images/partner-5.png' alt="")
      .col-md-6
        .img-thumbnail.img-thumbnail-mod-1
          a(href='#')
            img(src='images/partner-6.png' alt="")
  +sidebar-module('sidebar-module-inset-2','')
      a.banner(href="#")
        img(src="images/banner-2.jpg" alt="")
        span.h4 banner 350x500