section.section.section-inset-1
  .container
    .row.flex-lg-row-reverse
      .col-12.col-lg-8
        h2 Blog With Left Sidebar
        hr
        p.text-md-left Nunc sed augue lacus viverra vitae congue eu consequat ac. Gravida quis blandit turpis cursus in hac. Gravida cum sociis natoque penatibus et magnis dis parturient montes. Ultrices vitae auctor eu augue ut. Consequat id porta nibh venenatis cras sed felis.
        .blog-post.thumbnail
          img(src="images/blog-7.jpg" alt="")
          .caption-mod-4
            .blog-post-time
              span New Movies
            .blog-post-body.text-md-left
              p Purus ut faucibus pulvinar elementum integer enim neque. Vulputate dignissim suspendisse in est ante. Nulla posuere sollicitudin aliquam ultrices. Arcu ac tortor dignissim convallis aenean et tortor at risus. Tempus urna et pharetra pharetra massa massa. Congue mauris rhoncus aenean vel elit. Arcu vitae elementum curabitur vitae nunc. Gravida rutrum quisque non tellus orci ac auctor augue. Elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Egestas sed tempus urna et pharetra pharetra. Feugiat pretium nibh ipsum consequat.
        .row.row-60.clearleft-custom-2.flow.offset-custom-2
          .col-12.col-md-6
            .thumbnail.thumbnail-mod-1
              span.icon.icon-success.icon-lg.icon-mod-1.fa-desktop
              .caption
                h4 Movies
                p Morbi tristique senectus et netus et. In eu mi bibendum neque egestas congue quisque egestas.
          .col-12.col-md-6
            .thumbnail.thumbnail-mod-1
              span.icon.icon-success.icon-lg.icon-mod-1.fa-cogs
              .caption
                h4 Tv Shows
                p Ac placerat vestibulum lectus mauris ultrices eros in cursus turpis.
          .col-12.col-md-6
            .thumbnail.thumbnail-mod-1
              span.icon.icon-success.icon-lg.icon-mod-1.fa-edit
              .caption
                h4 news & Updates
                p Ac auctor augue mauris augue neque gravida in. Feugiat vivamus at augue eget arcu.
          .col-12.col-md-6
            .thumbnail.thumbnail-mod-1
              span.icon.icon-success.icon-lg.icon-mod-1.fa-comments
              .caption
                h4 Full HD quality
                p Ut venenatis tellus in metus vulputate. Quisque egestas diam in arcu cursus euismod quis viverra nibh.
          .col-12
            p.text-md-left If you are skilled enough, have enough time and knowledge, you can try to create a website design on your own. However, to save your time and effort, there are plenty of web design agencies offering their professional services online. With a masterfully designed site you have bigger chances of generating substantial profits for your business. Once your site goes live, you can upgrade it with a trendy style, add some thematic seasonal elements or whatsoever just to make your audience engaged.
        include ../../section/blog/_section-blog-8
        include ../../section/blog/_section-blog-9
      include ../../elements/_sidebar