.section.section-inset-1
  .container
    .row
      .col-12.col-lg-8
        section.section-inset-2
          h2 “Better Call Saul” Writer Offers Advice
          hr
          .blog-post
            .blog-post-time
              time(datetime="2018-10-07") October 7, 2018 &nbsp;
              span by Walter Myers
            .thumbnail
              img(src="images/blog-7.jpg" alt="")
              .caption-mod-2.text-md-left
                p Diam sollicitudin tempor id eu nisl. Magna ac placerat vestibulum lectus mauris ultrices eros in. Egestas integer eget aliquet nibh praesent tristique magna. Gravida dictum fusce ut placerat orci. Mus mauris vitae ultricies leo integer malesuada nunc. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. Fermentum posuere urna nec tincidunt praesent semper feugiat. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus.
                p Elementum sagittis vitae et leo duis. Enim praesent elementum facilisis leo. Leo integer malesuada nunc vel. Tortor id aliquet lectus proin nibh nisl. Semper viverra nam libero justo. Lorem donec massa sapien faucibus et molestie ac feugiat. Malesuada nunc vel risus commodo viverra. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Sem viverra aliquet eget sit amet. Accumsan in nisl nisi scelerisque eu ultrices vitae. Eget sit amet tellus cras adipiscing enim eu turpis. Commodo sed egestas egestas fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada. Mauris nunc congue nisi vitae suscipit tellus mauris.
            .thumbnail
              img(src="images/blog-6.jpg" alt="")
              .caption-mod-2.text-md-left
                p Suscipit tellus mauris a diam maecenas. Quis risus sed vulputate odio ut enim blandit. Sit amet facilisis magna etiam tempor. Diam quam nulla porttitor massa id neque aliquam vestibulum. Ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus. In hac habitasse platea dictumst quisque sagittis purus sit amet. Dictum non consectetur a erat nam.
                p Id diam vel quam elementum pulvinar etiam. Congue quisque egestas diam in. Ac turpis egestas maecenas pharetra. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Pulvinar pellentesque habitant morbi tristique senectus et. Varius quam quisque id diam vel quam elementum pulvinar. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. At ultrices mi tempus imperdiet.
                p Purus in mollis nunc sed. Porttitor massa id neque aliquam vestibulum. Nec ullamcorper sit amet risus nullam eget felis eget. A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Ut consequat semper viverra nam. Massa tempor nec feugiat nisl pretium fusce id. Imperdiet dui accumsan sit amet nulla. Ac tortor vitae purus faucibus ornare suspendisse.
                p Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Lorem ipsum dolor sit amet consectetur adipiscing.
            .blog-post-footer
              .tags.pull-lg-left
                a.post-tags(href='#') Movies
                a.post-tags(href='#') News
                a.post-tags(href='#') Premieres
              .badge.pull-lg-right
                span Share
                ul.list-inline
                  li: a.fa-facebook(href="#")
                  li: a.fa-twitter(href="#")
                  li: a.fa-pinterest-p(href="#")
                  li: a.fa-vimeo(href="#")
                  li: a.fa-google(href="#")
                  li: a.fa-rss(href='#')
        section.section-inset-2
          .thumbnail.offset-custom-2
            h4 Posted by
            img.rounded-circle.offset-custom-5(src="images/blog-post-1.jpg" alt="")
            span.h5.text-success-custom.text-transform-none.fw-l.text-primary John Doe
            .caption-mod-1
              p.text-md-left Condimentum mattis pellentesque id nibh tortor id aliquet. Molestie nunc non blandit massa enim nec.
              p.text-md-left Quisque egestas diam in arcu cursus euismod quis. Nec dui nunc mattis enim. Tristique magna sit amet purus gravida quis blandit turpis. Condimentum lacinia quis vel eros donec ac odio. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Dictumst quisque sagittis purus sit amet volutpat. Integer enim neque volutpat ac tincidunt vitae semper quis. Nunc id cursus metus aliquam eleifend mi in nulla. Dolor purus non enim praesent elementum.
        section.section-inset-2
          h2 Related Posts
          hr
          .row.row-45
            .col-12.col-md-6
              .blog-post.thumbnail
                img(src="images/blog-4.jpg" alt="")
                .caption-mod-1
                  .blog-post-time
                    time(datetime="2018-10-07") October 7, 2018 &nbsp;
                    |  by Walter Myers
                  .blog-post-title
                    h4.text-success-custom
                      a(href="blog_post.html") "Animals" Canceled After Three Seasons at HBO
                  .blog-post-body.text-md-left
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi etiam dignissim diam quis enim. Scelerisque eleifend donec pretium vulputate sapien. Diam quis enim lobortis scelerisque fermentum dui faucibus in ornare. Vulputate mi sit amet mauris commodo quis imperdiet.
                  .blog-post-footer.text-md-left
                    .tags
                      a.post-tags(href='#') Movies
                      a.post-tags(href='#') News
                      a.post-tags(href='#') Premieres
                    .badge.offset-custom-9
                      a(href="blog_post.html").text-gray 2 Comments
            .col-12.col-md-6
              .blog-post.thumbnail
                img(src="images/blog-3.jpg" alt="")
                .caption-mod-1
                  .blog-post-time
                    time(datetime="2018-10-07") October 7, 2018 &nbsp;
                    |  by Walter Myers
                  .blog-post-title
                    h4.text-success-custom
                      a(href="blog_post.html") "Single Parents" Lands Full-Season Order From ABC
                  .blog-post-body.text-md-left
                    p At lectus urna duis convallis. At tempor commodo ullamcorper a lacus. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Porttitor rhoncus dolor purus non. Odio facilisis mauris sit amet.
                  .blog-post-footer.text-md-left
                    .tags
                      a.post-tags(href='#') Movies
                      a.post-tags(href='#') News
                      a.post-tags(href='#') Premieres
                    .badge.offset-custom-9
                      a(href="blog_post.html").text-gray 10 Comments
        section.section-inset-2
          h2 2 comments
          hr
          include ../../elements/_comments
        section
          h4 leave your comment
          // RD Mailform
          form.rd-mailform.text-left( data-form-output="form-output-global", data-form-type='forms', method='post', action='bat/rd-mailform.php' )
            .row.row-30
              .col-12.col-md-6
                .form-wrap
                  label.form-label( for="forms-name" ) Your first name...
                  input#forms-name.form-input( type="text" name="name" data-constraints='@Required' )
              .col-12.col-md-6
                .form-wrap
                  label.form-label( for="forms-email" ) Your e-mail...
                  input#forms-email.form-input( type="email" name="email" data-constraints="@Email @Required" )
              .col-12.col-md-12
                .form-wrap
                  label.form-label( for="forms-message" ) Message:
                  textarea#forms-message.form-input( name="message" data-constraints="@Required" )
              .col-12.text-center
                button.btn.btn-success.btn-sm.btn-min-width( type="submit" ) Submit
      include ../../elements/_sidebar-archive