section
  .google-map-container(data-center='6036 Richmond hwy., Alexandria, VA, 2230')
    .google-map
    ul.google-map-markers
      li(data-location='6036 Richmond hwy., Alexandria, VA, 2230', data-description='6036 Richmond hwy., Alexandria, VA, 2230', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png')