section.section.bg-gray-900
  .container
    .row.row-45.text-md-left.clearleft-custom
      .col-12.col-md-6.col-xl-3
        address
          .media.flex-column.flex-md-row
            .media-left
              span.icon.icon-success.icon-sm.fa-map-marker
            .media-body
              span.h6 Post Address <br>
              span The Company Name Inc.
                | 9863 - 9867 Mill Road,
                | Cambridge, MG09 99HT.
      .col-12.col-md-6.col-xl-3
        address
          .media.flex-column.flex-md-row
            .media-left
              span.icon.icon-success.icon-sm.fa-clock-o
            .media-body
              span.h6 We Are Open <br>
              span Open hours: 8.00-18.00 Mon-Sat

      .col-12.col-md-6.col-xl-3
        address
          .media.flex-column.flex-md-row
            .media-left
              span.icon.icon-success.icon-sm.fa-phone
            .media-body
              span.h6 Phone <br>
              dl.dl-horizontal.dl-horizontal-2
                dt Phone:
                dd: a(href='tel:#') +1 800 603 6035
                dt FAX:
                dd: a(href='tel:#') +1 800 889 9898

      .col-12.col-md-6.col-xl-3
        address
          .media.flex-column.flex-md-row
            .media-left
              span.icon.icon-success.icon-sm.fa-envelope
            .media-body
              span.h6 Email <br>
              a.text-success-custom(href="mailto:#") mail@demolink.org