mixin sidebar-module(sidebar_class, title)
  .sidebar-module(class=sidebar_class)
    h4= title
    if block
      block


mixin sidebar-module-2(sidebar_class, title)
  .sidebar-module-2(class=sidebar_class)
    h4= title
    if block
      block