section.section.section-inset-2
	.container
		h2.text-center People Also Like
		hr
		.row.row-45.justify-content-center
			.col-9.col-sm-6.col-lg-3
				a(href='shop-product.html'): .box-office-media
					img(src="images/gallery-5.jpg" alt="")
				.caption-1
					.caption-wrapper
				.poster-blog.text-left
					h6.text-gray-900.offset-top-20
						a( href='shop-product.html' ) Titans
					p.text-gray 2018, USA, Drama
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2.text-gray
					.price.text-left
						ul
							li $29.00
							li: a(href='#' ) BUY MOVIE

			.col-9.col-sm-6.col-lg-3
				a(href='shop-product.html'): .box-office-media
					img(src="images/gallery-2.jpg" alt="")
				.caption-1
					.caption-wrapper
				.poster-blog.text-left
					h6.text-gray-900.offset-top-20
						a( href='shop-product.html' ) Avengers: Infinity War
					p.text-gray 2018, USA, Action, Fantasy
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
					.price.text-left
						ul
							li $29.00
							li: a(href='#' ) BUY MOVIE

			.col-9.col-sm-6.col-lg-3
				a(href='shop-product.html'): .box-office-media
					img(src="images/gallery-3.jpg" alt="")
				.caption-1
					.caption-wrapper
				.poster-blog.text-left
					h6.text-gray-900.offset-top-20
						a( href='shop-product.html' ) The Flash
					p.text-gray 2014, USA, Action
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
					.price.text-left
						ul
							li $29.00
							li: a(href='#' ) BUY MOVIE

			.col-9.col-sm-6.col-lg-3
				a(href='shop-product.html'): .box-office-media
					img(src="images/gallery-4.jpg" alt="")
				.caption-1
					.caption-wrapper
				.poster-blog.text-left
					h6.text-gray-900.offset-top-20
						a( href='shop-product.html' ) Game of Thrones
					p.text-gray 2018, USA, Adventure, Action
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
					.price.text-left
						ul
							li $29.00
							li: a(href='#' ) BUY MOVIE
