+section("section section-inset-1", "Watch movies online")
  .row.row-45.clearleft-custom-3
    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-1")
      img(src="images/gallery-1.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#' ).text-gray-900 Ant-Man and the Wasp
        p.text-gray 2018, USA, Drama
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2.text-gray

    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-1")
      img(src="images/gallery-2.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#' ).text-gray-900 Avengers: Infinity War
        p.text-gray 2018, USA, Action, Fantasy
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2


    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-1")
      img(src="images/gallery-3.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#' ).text-gray-900 The Flash
        p.text-gray 2014, USA, Adventure, Fantasy
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2


    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-2")
      img(src="images/gallery-4.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#' ).text-gray-900 Game of Thrones
        p.text-gray 2018, USA, Adventure, Action
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2

    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-1")
      img(src="images/gallery-5.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#' ).text-gray-900 Titans
        p.text-gray 2018, USA, Drama,  Adventure
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2.text-gray


    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-1")
      img(src="images/gallery-6.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#').text-gray-900 Aquaman
        p.text-gray 2018, USA, Action, Fantasy
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2

    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-2")
      img(src="images/gallery-7.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#').text-gray-900 Hold the Dark
        p.text-gray 2018, USA, Adventure, Mystery
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2

    .isotope-item.col-12.col-sm-6.col-lg-3(data-filter="type-2")
      img(src="images/gallery-8.jpg" alt="")
      .div.text-left
        h6.title-block.offset-top-20
          a( href='#').text-gray-900 The Predator
        p.text-gray 2018, USA, Adventure, Horror
        .review
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
          span.icon.fa-star.icon-waring-2
    .col-12
      +pagination("offset-custom-2")
