section.section.section-inset-3
  .container
    .row.row-45.justify-content-xl-around.text-md-left
      .col-12.col-md-6.col-xl-3
        address
          .media.flex-column.flex-md-row
            .media-left
              span.icon.icon-success.icon-sm.fa-map-marker
            .media-body
              p.h6 Post Address
              span: a(href="#") The Company Name Inc.
                | 9863 - 9867 Mill Road,
                | Cambridge, MG09 99HT.

      .col-12.col-md-6.col-xl-3
        address
          .media.flex-column.flex-md-row
            .media-left
              span.icon.icon-success.icon-sm.fa-phone
            .media-body
              p.h6 Phone
              dl.dl-horizontal
                dt Phone:
                dd: a(href='tel:#') +1 800 603 6035
              dl.dl-horizontal
                dt FAX:
                dd: a(href='tel:#') +1 800 889 9898

      .col-12.col-md-6.col-xl-3
        address
          .media.flex-column.flex-md-row
            .media-left
              span.icon.icon-success.icon-sm.fa-envelope
            .media-body
              p.h6 Email
              a(href="mailto:#") mail@demolink.org