section.section.section-inset-1
  .container.isotope-wrap
    h2 Masonry Grid
    hr
    .btn-group-isotope.isotope-filters
      button(data-isotope-filter="*" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm.active All
      button(data-isotope-filter="type-1" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm  Tab 1
      button(data-isotope-filter="type-2" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm  Tab 2
      button(data-isotope-filter="type-3" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm  Tab 3
    .isotope.offset-custom-1.row.row-no-gutter(data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group")

      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
        a(href="images/gallery-1_original.jpg" data-lightgallery="item")
          img(src="images/gallery-19.jpg" alt="" width='390' height='230')
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.

      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
        a(href="images/gallery-2_original.jpg" data-lightgallery="item")
          img(src="images/gallery-26.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.

      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
        a(href="images/gallery-5_original.jpg" data-lightgallery="item")
          img(src="images/gallery-27.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.

      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-4_original.jpg" data-lightgallery="item")
          img(src="images/gallery-28.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-10_original.jpg" data-lightgallery="item")
          img(src="images/gallery-21.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.


      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-6_original.jpg" data-lightgallery="item")
          img(src="images/gallery-24.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.

      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-7_original.jpg" data-lightgallery="item")
          img(src="images/gallery-31.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.

      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-3")
        a(href="images/gallery-8_original.jpg" data-lightgallery="item")
          img(src="images/gallery-35.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.

      .thumbnail-gallery.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-3")
        a(href="images/gallery-23_original.jpg" data-lightgallery="item")
          img(src="images/gallery-36.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Always a New Beginning
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.