section.section.section-inset-1
  .container.isotope-wrap
    h2 Masonry Grid Gallery
    hr
    .btn-group-isotope.isotope-filters
      button(data-isotope-filter="*" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm.active All
      button(data-isotope-filter="type-1" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm  Action
      button(data-isotope-filter="type-2" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm  Drama
      button(data-isotope-filter="type-3" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm  Thriller
    .isotope.offset-custom-1.masonry-gallery.row(data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group")

      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
        a(href="images/gallery-1_original.jpg" data-lightgallery="item")
          img(src="images/grid-masonry-4.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Movie Trailers
              p.text-white Our website provides a wide range of movies and TV shows in various genres.

      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
        a(href="images/gallery-2_original.jpg" data-lightgallery="item")
          img(src="images/gallery-20.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Affordable prices
              p.text-white Our website provides a wide range of movies and TV shows in various genres.

      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
        a(href="images/gallery-5_original.jpg" data-lightgallery="item")
          img(src="images/grid-masonry-1.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Upcoming Movies
              p.text-white Our website provides a wide range of movies and TV shows in various genres.

      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-10_original.jpg" data-lightgallery="item")
          img(src="images/grid-masonry-3.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white TV Shows
              p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-4_original.jpg" data-lightgallery="item")
          img(src="images/grid-cobbles-14.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Sci-Fi & Fantasy
              p.text-white Our website provides a wide range of movies and TV shows in various genres.


      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-23_original.jpg" data-lightgallery="item")
          img(src="images/gallery-23.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Classic Movies
              p.text-white Our website provides a wide range of movies and TV shows in various genres.

      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
        a(href="images/gallery-6_original.jpg" data-lightgallery="item")
          img(src="images/grid-masonry-6.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Interviews
              p.text-white Our website provides a wide range of movies and TV shows in various genres.

      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-3")
        a(href="images/gallery-7_original.jpg" data-lightgallery="item")
          img(src="images/grid-masonry-5.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Movie Trailers
              p.text-white Our website provides a wide range of movies and TV shows in various genres.

      .thumbnail-gallery.thumbnail-gallery-gird.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-3")
        a(href="images/gallery-8_original.jpg" data-lightgallery="item")
          img(src="images/grid-masonry-2.jpg" alt="")
          .caption
            .caption-wrapper
              span.icon.icon-md.icon-white.fa-search-plus
              h4.text-white Interviews
              p.text-white Our website provides a wide range of movies and TV shows in various genres.