/* Breadcrumb*/

.breadcrumb {
  display: block;
  margin-bottom: 0;

  > li {
    display: inline-block;
    a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }

    & + li {
      &:before {
        content: "/";
        padding: 0 12px;
        color: #b9b9b9;
      }
    }
  }
}