// RD Form
.rd-form {
	position: relative;
	text-align: left;

	.button {
		min-width: 222px;
	}

	// Small <576px
	@include media-breakpoint-down(xs) {
		.button {
			display: block;
			width: 100%;
		}
	}

	* + .button { margin-top: 33px; }
}


//
// RD Form Inline
//
.rd-form-inline {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	text-align: center;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;

	> * {
		margin-top: 0;
	}

	.form-wrap {
		width: 100%;
	}

	.form-wrap-select {
		text-align: left;
	}

	.form-button {
		flex-grow: 1;
		flex-shrink: 0;
		min-height: $form-input-height;
		margin-top: 10px;

		.button {
			display: block;
			min-height: inherit;
			min-width: auto;
			width: 100%;
		}
	}

	&.rd-search {
		max-width: 100%;
	}

	// Medium ≥576px
	@include media-breakpoint-up(sm) {

		.form-wrap {
			flex: 1;
			min-width: 185px;
		}

		.form-button {
			flex-grow: 0;
			margin-top: 0;
			margin-left: 7px;

			.button {
				display: inline-block;
			}
		}

		&.rd-form-coupon {

			.form-button {
				margin-left: 18px;
			}
		}
	}
}


// Form input
.form-input {

}