//
// Jumbotron
// --------------------------------------------------
.jumbotron {
	z-index: 9;
	background: transparent;
	margin-bottom: 0;


	h1 {
		margin-bottom: 0;
		transform: translateZ(0) scale(1.0, 1.0);
		font-family: $font-family-sec;
		letter-spacing: 0.12em;
		line-height: 0;
		color: $white-clr;
		-webkit-font-smoothing: antialiased;
		small,
		span {
			display: block;
			text-transform: uppercase;
			line-height: 1.3;
			@media (min-width: 768px) {
				line-height: 1;
			}
		}
		small {
			position: relative;
			display: inline-block;
			font-size: 22px;
			letter-spacing: 3px;
			@media (min-width: 768px) {
				font-size: 30px;
			}
		}

		@include media-breakpoint-up(xl) {
			small {
				&:before, &:after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					display: inline-block;
					width: 100px;
					border-bottom: 2px solid $white-clr;
				}
				&:before {
					left: -120px;
				}
				&:after {
					right: -120px;
				}
			}

		}
		* + span {
			margin-top: 12px;
			@media (min-width: 768px) {
				margin-top: 20px;
			}
		}
	}

	p {
		margin-top: 46px;
		font-size: 20px;
		color: $white-clr;
		margin-bottom: 0;
	}
	.small {
		margin-top: 25px;
	}

	&-1 {
		padding-left: 15px;
		padding-right: 15px;
	}

	@include media-breakpoint-up(md) {
		h1 { font-size: 52px; }

		&-1 {
			padding-left: 60px;
			padding-right: 60px;
		}
	}

	@include media-breakpoint-up(xl) {
		padding-bottom: 123px;


		h1 { font-size: 60px; }
	}

}

.jumbotron-mod-1 {
	@extend .jumbotron;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 5%;
	display: flex;
	align-items: center;

	@media(min-width: 768px) {
		padding: 0 10%;
	}

	@media(min-width: 1400px) {
		padding: 0 30%;
	}
	> div { width: 100%; }
	p,
	.btn-group-variant {
		display: none;
		@include media-breakpoint-up(md) {
			display: inline-block;
		}
	}
	.mobile & {
		p,
		.btn-group-variant {
			display: none;
		}
	}
}

.jumbotron-3 {
	@include media-breakpoint-up(xl) {
		padding-bottom: 70px;
	}

}