section.bg-light.bg-subscribe.section.section-inset-1
  .container
    h2.text-center newsletter
    hr.hr-primary
    .row.justify-content-center.offset-custom-3
      .col-12.col-lg-9.col-xl-6.col-lg-offset-2.col-xl.offset-custom-3
        p.fw-l.h5.text-transform-none Enter your email address to receive all news, updates on new arrivals, special offers and other discount information.
        -var button_content = "Subscribe"
        include ../../elements/_subscribe-2