section.section.section-inset-1.bg-gray-900
	.container
		h2.text-center.text-white Coming Soon
		hr.hr-primary
		.row.row-45
			.col-12.col-md-12.col-lg-6.text-center.text-lg-left
				.video-box-overlay
					img(src="images/index-1.jpg" alt="")
					.video-box
						.video-box-play
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
						.video-box-inner
							span.item-1
								a(href='movie-details.html') Deadpool 2
							span.item-2 The Trailer
			.col-12.col-md-12.col-lg-6.text-lg-left.well1
				.text-box-overlay
					h3.font-weight-normal.text
						a(href='movie-details.html') Deadpool 2
					ul.text-box-inners
						li.item-1 1h 59min
						li.item-2
							ul
								li: a(href='#') Action,
								li: a(href='#') Adventure,
								li: a(href='#') Comedy
						li.item-3 May 18, 2018 (USA)
					p After losing Vanessa (Morena Baccarin), the love of his life, 4th-wall breaking mercenary Wade Wilson aka Deadpool (Ryan Reynolds) must assemble a team and protect a young, full-figured mutant Russell Collins aka Firefist (Julian Dennison) from Cable (Josh Brolin).
					p.font-weight-bold.offset-top-10 Director: &nbsp;
						span.font-weight-light David Leitch
					p.font-weight-bold Writers: &nbsp;
						span.font-weight-light Rhett Reese, Paul Wernick
					p.font-weight-bold Stars: &nbsp;
						span.font-weight-light Ryan Reynolds, Josh Brolin, Morena Baccarin
		a.btn.btn-primary.btn-sm.btn-min-width(href="#") Add To Watchlist