section.section.section-inset-2
   .container
      h2.text-center Our Facts
      hr
      .row.row-45
         .col-12.col-md-6.col-lg-3
            .counter 78
            p.h5.fw-l.text-transform-none.letter-spacing Distribution partners

         .col-12.col-md-6.col-lg-3
            .counter 23
            p.h5.fw-l.text-transform-none.letter-spacing Team members
         .col-12.col-md-6.col-lg-3
            .counter 7500
            p.h5.fw-l.text-transform-none.letter-spacing Daily views
         .col-12.col-md-6.col-lg-3
            .counter 374
            p.h5.fw-l.text-transform-none.letter-spacing New movies