section.section
	.container.isotope-wrap
		h2 Watch movies online
		hr
		.btn-group-isotope.isotope-filters
			button(data-isotope-filter="*" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm.active.text-capitalize Top Rated
			button(data-isotope-filter="type-1" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm.text-capitalize New Releases
			button(data-isotope-filter="type-2" data-isotope-group="gallery").btn.btn-success-mod-1.btn-sm.text-capitalize Coming Soon
		.isotope.offset-top-10.masonry-gallery.row.thumbnail-main-section(data-isotope-layout="masonry" data-isotope-group="gallery" data-lg-thumbnail='false' data-addClass='main')
			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-1")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-1.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) Ant-Man and the Wasp
					p.text-gray 2018, USA, Action
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2.text-gray

			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-1")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-2.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) Avengers: Infinity War
					p.text-gray 2018, USA, Action, Fantasy
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2


			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-1")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-3.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) The Flash
					p.text-gray 2014, USA, Adventure, Fantasy
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2


			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-2")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-4.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) Game of Thrones
					p.text-gray 2018, USA, Adventure, Action
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2

			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-1")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-5.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) Titans
					p.text-gray 2018, USA, Drama,  Adventure
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2.text-gray



			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-2")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-6.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) Aquaman
					p.text-gray 2018, USA, Action, Fantasy
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2

			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-2")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-7.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) Hold the Dark
					p.text-gray 2018, USA, Adventure, Mystery
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2

			.thumbnail-gallery.isotope-item.col-9.col-sm-6.col-lg-3(data-filter="type-2")
				.thumbnail-gallery-wrapper
					img(src="images/gallery-8.jpg" alt="")
					.caption-2
						.caption-wrapper
							a(href='https://youtu.be/20bpjtCbCz0' data-lightgallery='item'): span.icon.icon-white.fl-line-ui-play126
				.div.text-left
					h6.title-block.offset-top-20
						a( href='movie-details.html' ) The Predator
					p.text-gray 2018, USA, Adventure, Horror
					.review
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2
						span.icon.fa-star.icon-waring-2


