section.section.section-inset-1
  .container
    h2 Our Fantastic Team
    hr
    p.h5.fw-l!= team_Mod
    .row.row-30(class=class_adjuster)
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          img(src='images/about-2.jpg' alt="")
          .caption.caption-mod-1
            h6.box-service
              a(href="team-member.html") Mark Johnson
            span.text-gray Founder, Owner
            p Feugiat nisl pretium fusce id velit ut tortor pretium.
            ul.list-inline.list-inline-2
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google-plus(href="#")
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          img(src='images/about-3.jpg' alt="")
          .caption.caption-mod-1
            h6.box-service
              a(href="team-member.html") Jessica Priston
            span.text-gray Web Designer
            p Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus.
            ul.list-inline.list-inline-2
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google-plus(href="#")
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          img(src='images/about-4.jpg' alt="")
          .caption.caption-mod-1
            h6.box-service
              a(href="team-member.html") Sam Kromstain
            span.text-gray Content Manager
            p Tempor orci eu lobortis elementum nibh tellus molestie nunc.
            ul.list-inline.list-inline-2
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google-plus(href="#")
      .col-12.col-md-6.col-xl-3
        .thumbnail.thumbnail-mod-1
          img(src='images/about-5.jpg' alt="")
          .caption.caption-mod-1
            h6.box-service
              a(href="team-member.html") Edna Barton
            span.text-gray PR Manager
            p Leo integer malesuada nunc vel. Eget duis at tellus at urna.
            ul.list-inline.list-inline-2
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google-plus(href="#")