section.section.section-inset-1
  .container
    h2 Pricing
    hr
    .row
      .col-12
        .table-responsive
          table.table-striped.table
            thead
              tr.bg-light
                th &nbsp;
                th.h6.text-center Free
                th.h6.text-center Standard
                th.h6.text-center Medium
                th.h6.text-center Premium
            tbody
              tr
                td Trailers & Pilot Episodes
                td +
                td +
                td +
                td +
              tr
                td Catalog Access
                td +
                td +
                td +
                td +
              tr
                td Various Movie Selections
                td -
                td +
                td +
                td +
              tr
                td TV Premieres
                td -
                td -
                td +
                td +
              tr
                td Exclusive Movie Releases
                td -
                td -
                td -
                td +
              tr
                td
                td.h5.fw-l $0
                td.h5.fw-l $30
                td.h5.fw-l $100
                td.h5.fw-l $120
              tr
                td
                td: a.btn.btn-sm.btn-success(href="#") Free
                td: a.btn.btn-sm.btn-success(href="#") Buy
                td: a.btn.btn-sm.btn-success(href="#") Buy
                td: a.btn.btn-sm.btn-success(href="#") Buy