section.section.section-inset-2.bg-light
  .container
    h2 Choose Your Plan
    hr
    .row.row-60
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.bg-accent.thumbnail-mod-1
          .pricing-head.bg-dark
            h4 Basic
          .price
            h2 29/
              span mo.
          ul.pricing-body.bg-default.list-unstyled
            li Action Movies
            li Dramas
            li Cartoons
            li Classic Movies
          .pricing-footer
            a.btn.btn-sm.btn-min-width(href="#") Buy Now
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.bg-accent.thumbnail-mod-1
          .pricing-head.bg-dark
            h4 Standard
          .price
            h2 49/
              span mo.
          ul.pricing-body.bg-default.list-unstyled
            li Thrillers
            li Romantic Movies
            li Crime Movies
            li Adventure Films
          .pricing-footer
            a.btn.btn-sm.btn-min-width(href="#") Buy Now
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.bg-accent.thumbnail-mod-1
          .pricing-head.bg-dark
            h4 Extended
          .price
            h2 79/
              span mo.
          ul.pricing-body.bg-default.list-unstyled
            li Historical Movies
            li Musicals
            li Historical Movies
            li Comedies
          .pricing-footer
            a.btn.btn-sm.btn-min-width(href="#") Buy Now
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-1.bg-accent.thumbnail-mod-1
          .pricing-head.bg-dark
            h4 Premium
          .price
            h2 109/
              span mo.
          ul.pricing-body.bg-default.list-unstyled
            li Horror Movies
            li Science Fiction
            li Westerns
            li Fantasy
          .pricing-footer
            a.btn.btn-sm.btn-min-width(href="#") Buy Now
