section.section.section-inset-1
  .container
    h2.text-center What We Offer
    hr
    .row.row-45
      .col-12.col-md-12.col-lg-6.text-center.text-lg-left
        img(src="images/services-2.jpg" alt="")

      .col-12.col-md-12.col-lg-6.text-md-left.well2
        p Id donec ultrices tincidunt arcu. Vulputate enim nulla aliquet porttitor lacus luctus. Sit amet cursus sit amet dictum sit amet justo donec. Nec ullamcorper sit amet risus nullam eget felis.
        .row.row-45.offset-custom-2
          .col-12.col-md-6
            .media.flex-column.flex-md-row.thumbnail-mod-1.media-mod-1
              .media-left
                span.icon.icon-success.icon-sm.fa-desktop
              .media-body.box-service
                h6.text-transform-none
                  a(href="#") Ultra HD Quality
                p Ullamcorper velit sed ullamcorper morbi tincidunt ornare.
          .col-12.col-md-6
            .media.flex-column.flex-md-row.thumbnail-mod-1.media-mod-1
              .media-left
                span.icon.icon-success.icon-sm.fa-film
              .media-body.box-service
                h6.text-transform-none
                  a(href="#") Wide Range of Movies
                p Ultrices dui sapien eget mi proin sed libero.
          .col-12.col-md-6
            .media.flex-column.flex-md-row.thumbnail-mod-1.media-mod-1
              .media-left
                span.icon.icon-success.icon-sm.fa-bell
              .media-body.box-service
                h6.text-transform-none
                  a(href="#") Exclusive Releases
                p Mauris vitae ultricies leo integer.
          .col-12.col-md-6
            .media.flex-column.flex-md-row.thumbnail-mod-1.media-mod-1
              .media-left
                span.icon.icon-success.icon-sm.fa-rocket
              .media-body.box-service
                h6.text-transform-none
                  a(href="#") Global Availability
                p Tempor orci eu lobortis elementum nibh tellus molestie nunc.