section.section.bg-gray-900
  .container
    h2 Selections of films and TV Shows
    hr
    .row.clearleft-custom-1.row-55
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          img(src="images/services-3.jpg" alt="")
          .caption-mod-1
            h4.text-success-custom.text-primary  Cyberpunk movies
            p Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Diam vel quam elementum pulvinar etiam non. Libero volutpat sed cras ornare. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Egestas sed tempus urna et pharetra.
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          img(src="images/services-4.jpg" alt="")
          .caption-mod-1
            h4.text-success-custom.text-primary  DC Original Movies
            p Integer feugiat scelerisque varius morbi. Praesent elementum facilisis leo vel fringilla. Sapien eget mi proin sed libero. Turpis egestas maecenas pharetra convallis. Vestibulum sed arcu non odio euismod. Eget gravida cum sociis natoque penatibus et magnis dis. Felis eget nunc lobortis mattis aliquam faucibus purus in massa.
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          img(src="images/services-5.jpg" alt="")
          .caption-mod-1
            h4.text-success-custom.text-primary  Starz Series
            p Eget est lorem ipsum dolor sit amet consectetur adipiscing. Netus et malesuada fames ac turpis. Dolor sed viverra ipsum nunc. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor.
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          img(src="images/services-6.jpg" alt="")
          .caption-mod-1
            h4.text-success-custom.text-primary  AMC Series
            p Posuere ac ut consequat semper. Quis enim lobortis scelerisque fermentum dui. Sem integer vitae justo eget. Vitae aliquet nec ullamcorper sit amet risus nullam.
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          img(src="images/services-7.jpg" alt="")
          .caption-mod-1
            h4.text-success-custom.text-primary Classic movies
            p n dictum non consectetur a erat. Tincidunt augue interdum velit euismod in pellentesque massa. In nulla posuere sollicitudin aliquam. Commodo quis imperdiet massa tincidunt nunc pulvinar. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam.
      .col-12.col-md-6.col-xl-4
        .thumbnail.thumbnail-mod-2
          img(src="images/services-8.jpg" alt="")
          .caption-mod-1
            h4.text-success-custom.text-primary  Marvel Cinematic Universe
            p Sed felis eget velit aliquet sagittis id. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Nibh praesent tristique magna sit amet purus.