section.section.section-inset-1.bg-gray-900
  .container
    h2 List Layout
    hr
    .row.clearleft-custom-2.text-md-left.row-30
      .col-12.col-xl-6
        +media_team('bg-default media-mod-2', 'images/team-1.jpg', 'Mark Johnson', 'Technical Director')
          p Id donec ultrices tincidunt arcu non.
          ul.list-inline
            li: a.fa-facebook(href="#")
            li: a.fa-twitter(href="#")
            li: a.fa-pinterest-p(href="#")
            li: a.fa-vimeo(href="#")
            li: a.fa-google(href="#")
      .col-12.col-xl-6
        +media_team('bg-default media-mod-2', 'images/team-2.jpg', 'Jessica Priston', 'Web Developer', '#')
          p Orci sagittis eu volutpat odio facilisis mauris sit amet massa. Ac tincidunt vitae semper quis lectus nulla at volutpat diam.
          ul.list-inline
            li: a.fa-facebook(href="#")
            li: a.fa-twitter(href="#")
            li: a.fa-pinterest-p(href="#")
            li: a.fa-vimeo(href="#")
            li: a.fa-google(href="#")
      .col-12.col-xl-6
        +media_team('bg-default media-mod-2', 'images/team-3.jpg', 'Sam Kromstain', 'Team Lead', '#')
          p Nunc faucibus a pellentesque sit. Suspendisse potenti nullam ac tortor vitae purus.
          ul.list-inline
            li: a.fa-facebook(href="#")
            li: a.fa-twitter(href="#")
            li: a.fa-pinterest-p(href="#")
            li: a.fa-vimeo(href="#")
            li: a.fa-google(href="#")
      .col-12.col-xl-6
        +media_team('bg-default media-mod-2', 'images/team-4.jpg', 'Edna Barton', 'Assistant', '#')
          p Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin.
          ul.list-inline
            li: a.fa-facebook(href="#")
            li: a.fa-twitter(href="#")
            li: a.fa-pinterest-p(href="#")
            li: a.fa-vimeo(href="#")
            li: a.fa-google(href="#")