section.section.section-inset-1
  .container
    h2 4 Columns
    hr
    .row.clearleft-custom.row-30
      .col-12.col-md-6.col-xl-3
        .thumbnail-2.thumbnail-mod-1
          img(src="images/team-1.jpg" alt="")
          .caption.box-service-2
            h6
              a(href="team-member.html") Mark Johnson
            span Founder, Owner
            ul.list-inline
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google(href="#")
      .col-12.col-md-6.col-xl-3
        .thumbnail-2.thumbnail-mod-1
          img(src="images/team-2.jpg" alt="")
          .caption.box-service-2
            h6
              a(href="team-member.html") Jessica Priston
            span Web Designer
            ul.list-inline
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google(href="#")
      .col-12.col-md-6.col-xl-3
        .thumbnail-2.thumbnail-mod-1
          img(src="images/team-3.jpg" alt="")
          .caption.box-service-2
            h6
              a(href="team-member.html") Sam Kromstain
            span Content Manager
            ul.list-inline
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google(href="#")
      .col-12.col-md-6.col-xl-3
        .thumbnail-2.thumbnail-mod-1
          img(src="images/team-4.jpg" alt="")
          .caption.box-service-2
            h6
              a(href="team-member.html") Edna Barton
            span PR Manager
            ul.list-inline
              li: a.fa-facebook(href="#")
              li: a.fa-twitter(href="#")
              li: a.fa-google(href="#")

