section.section.section-inset-1.bg-gray-900
	.container
		h2 skills
		hr
		.row.justify-content-center
			.col-12.col-lg-6.col-lg.offset-custom-3.text-md-left
				+progress-bar-linear({
					title: "Management",
					valueTo: "50"
				})

				+progress-bar-linear({
					title: "Movie Production",
					valueTo: "90"
				})

				+progress-bar-linear({
					title: "Experience",
					valueTo: "80"
				})

				+progress-bar-linear({
					title: "Knowledge",
					valueTo: "20"
				})