section.page-section.section.section-inset-1
  .container
    h2 FontAwesome Icons
    hr
    p.h5.fw-l We offer you to use FontAwesome icons in this template.

    // New
    section.page-subsection(id="new").offset-custom-2
      h3 20 New Icons in 4.5

      .row.list-icon.text-left
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bluetooth
          | bluetooth

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bluetooth-b
          | bluetooth-b

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-codiepie
          | codiepie

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-credit-card-alt
          | credit-card-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-edge
          | edge

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fort-awesome
          | fort-awesome

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hashtag
          | hashtag

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mixcloud
          | mixcloud

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-modx
          | modx

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pause-circle
          | pause-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pause-circle-o
          | pause-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-percent
          | percent

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-product-hunt
          | product-hunt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-reddit-alien
          | reddit-alien

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-scribd
          | scribd

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shopping-bag
          | shopping-bag

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shopping-basket
          | shopping-basket

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stop-circle
          | stop-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stop-circle-o
          | stop-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-usb
          | usb

    // Web application
    section.page-subsection(id="web-application").offset-custom-2
      h3 Web Application Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-adjust
          | adjust

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-anchor
          | anchor

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-archive
          | archive

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-area-chart
          | area-chart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows
          | arrows

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows-h
          | arrows-h

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows-v
          | arrows-v

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-asterisk
          | asterisk

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-at
          | at

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-automobile
          | automobile
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-balance-scale
          | balance-scale

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ban
          | ban

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bank
          | bank
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bar-chart
          | bar-chart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bar-chart-o
          | bar-chart-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-barcode
          | barcode

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bars
          | bars

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-0
          | battery-0
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-1
          | battery-1
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-2
          | battery-2
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-3
          | battery-3
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-4
          | battery-4
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-empty
          | battery-empty

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-full
          | battery-full

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-half
          | battery-half

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-quarter
          | battery-quarter

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-battery-three-quarters
          | battery-three-quarters

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bed
          | bed

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-beer
          | beer

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bell
          | bell

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bell-o
          | bell-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bell-slash
          | bell-slash

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bell-slash-o
          | bell-slash-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bicycle
          | bicycle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-binoculars
          | binoculars

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-birthday-cake
          | birthday-cake

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bluetooth
          | bluetooth

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bluetooth-b
          | bluetooth-b

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bolt
          | bolt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bomb
          | bomb

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-book
          | book

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bookmark
          | bookmark

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bookmark-o
          | bookmark-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-briefcase
          | briefcase

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bug
          | bug

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-building
          | building

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-building-o
          | building-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bullhorn
          | bullhorn

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bullseye
          | bullseye

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bus
          | bus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cab
          | cab
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-calculator
          | calculator

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-calendar
          | calendar

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-calendar-check-o
          | calendar-check-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-calendar-minus-o
          | calendar-minus-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-calendar-o
          | calendar-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-calendar-plus-o
          | calendar-plus-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-calendar-times-o
          | calendar-times-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-camera
          | camera

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-camera-retro
          | camera-retro

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-car
          | car

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-down
          | caret-square-o-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-left
          | caret-square-o-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-right
          | caret-square-o-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-up
          | caret-square-o-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cart-arrow-down
          | cart-arrow-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cart-plus
          | cart-plus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc
          | cc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-certificate
          | certificate

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-check
          | check

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-check-circle
          | check-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-check-circle-o
          | check-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-check-square
          | check-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-check-square-o
          | check-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-child
          | child

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-circle
          | circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-circle-o
          | circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-circle-o-notch
          | circle-o-notch

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-circle-thin
          | circle-thin

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-clock-o
          | clock-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-clone
          | clone

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-close
          | close
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cloud
          | cloud

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cloud-download
          | cloud-download

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cloud-upload
          | cloud-upload

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-code
          | code

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-code-fork
          | code-fork

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-coffee
          | coffee

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cog
          | cog

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cogs
          | cogs

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-comment
          | comment

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-comment-o
          | comment-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-commenting
          | commenting

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-commenting-o
          | commenting-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-comments
          | comments

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-comments-o
          | comments-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-compass
          | compass

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-copyright
          | copyright

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-creative-commons
          | creative-commons

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-credit-card
          | credit-card

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-credit-card-alt
          | credit-card-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-crop
          | crop

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-crosshairs
          | crosshairs

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cube
          | cube

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cubes
          | cubes

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cutlery
          | cutlery

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dashboard
          | dashboard
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-database
          | database

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-desktop
          | desktop

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-diamond
          | diamond

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dot-circle-o
          | dot-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-download
          | download

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-edit
          | edit
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ellipsis-h
          | ellipsis-h

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ellipsis-v
          | ellipsis-v

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-envelope
          | envelope

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-envelope-o
          | envelope-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-envelope-square
          | envelope-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-eraser
          | eraser

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-exchange
          | exchange

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-exclamation
          | exclamation

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-exclamation-circle
          | exclamation-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-exclamation-triangle
          | exclamation-triangle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-external-link
          | external-link

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-external-link-square
          | external-link-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-eye
          | eye

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-eye-slash
          | eye-slash

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-eyedropper
          | eyedropper

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fax
          | fax

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-feed
          | feed
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-female
          | female

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fighter-jet
          | fighter-jet

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-archive-o
          | file-archive-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-audio-o
          | file-audio-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-code-o
          | file-code-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-excel-o
          | file-excel-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-image-o
          | file-image-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-movie-o
          | file-movie-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-pdf-o
          | file-pdf-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-photo-o
          | file-photo-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-picture-o
          | file-picture-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-powerpoint-o
          | file-powerpoint-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-sound-o
          | file-sound-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-video-o
          | file-video-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-word-o
          | file-word-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-zip-o
          | file-zip-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-film
          | film

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-filter
          | filter

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fire
          | fire

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fire-extinguisher
          | fire-extinguisher

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-flag
          | flag

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-flag-checkered
          | flag-checkered

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-flag-o
          | flag-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-flash
          | flash
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-flask
          | flask

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-folder
          | folder

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-folder-o
          | folder-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-folder-open
          | folder-open

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-folder-open-o
          | folder-open-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-frown-o
          | frown-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-futbol-o
          | futbol-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gamepad
          | gamepad

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gavel
          | gavel

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gear
          | gear
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gears
          | gears
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gift
          | gift

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-glass
          | glass

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-globe
          | globe

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-graduation-cap
          | graduation-cap

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-group
          | group
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-grab-o
          | hand-grab-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-lizard-o
          | hand-lizard-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-paper-o
          | hand-paper-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-peace-o
          | hand-peace-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-pointer-o
          | hand-pointer-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-rock-o
          | hand-rock-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-scissors-o
          | hand-scissors-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-spock-o
          | hand-spock-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-stop-o
          | hand-stop-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hashtag
          | hashtag

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hdd-o
          | hdd-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-headphones
          | headphones

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-heart
          | heart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-heart-o
          | heart-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-heartbeat
          | heartbeat

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-history
          | history

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-home
          | home

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hotel
          | hotel
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass
          | hourglass

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass-1
          | hourglass-1
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass-2
          | hourglass-2
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass-3
          | hourglass-3
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass-end
          | hourglass-end

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass-half
          | hourglass-half

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass-o
          | hourglass-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hourglass-start
          | hourglass-start

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-i-cursor
          | i-cursor

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-image
          | image
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-inbox
          | inbox

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-industry
          | industry

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-info
          | info

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-info-circle
          | info-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-institution
          | institution
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-key
          | key

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-keyboard-o
          | keyboard-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-language
          | language

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-laptop
          | laptop

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-leaf
          | leaf

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-legal
          | legal
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-lemon-o
          | lemon-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-level-down
          | level-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-level-up
          | level-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-life-bouy
          | life-bouy
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-life-buoy
          | life-buoy
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-life-ring
          | life-ring

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-life-saver
          | life-saver
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-lightbulb-o
          | lightbulb-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-line-chart
          | line-chart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-location-arrow
          | location-arrow

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-lock
          | lock

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-magic
          | magic

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-magnet
          | magnet

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mail-forward
          | mail-forward
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mail-reply
          | mail-reply
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mail-reply-all
          | mail-reply-all
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-male
          | male

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-map
          | map

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-map-marker
          | map-marker

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-map-o
          | map-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-map-pin
          | map-pin

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-map-signs
          | map-signs

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-meh-o
          | meh-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-microphone
          | microphone

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-microphone-slash
          | microphone-slash

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-minus
          | minus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-minus-circle
          | minus-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-minus-square
          | minus-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-minus-square-o
          | minus-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mobile
          | mobile

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mobile-phone
          | mobile-phone
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-money
          | money

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-moon-o
          | moon-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mortar-board
          | mortar-board
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-motorcycle
          | motorcycle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mouse-pointer
          | mouse-pointer

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-music
          | music

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-navicon
          | navicon
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-newspaper-o
          | newspaper-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-object-group
          | object-group

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-object-ungroup
          | object-ungroup

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paint-brush
          | paint-brush

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paper-plane
          | paper-plane

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paper-plane-o
          | paper-plane-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paw
          | paw

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pencil
          | pencil

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pencil-square
          | pencil-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pencil-square-o
          | pencil-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-percent
          | percent

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-phone
          | phone

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-phone-square
          | phone-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-photo
          | photo
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-picture-o
          | picture-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pie-chart
          | pie-chart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plane
          | plane

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plug
          | plug

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plus
          | plus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plus-circle
          | plus-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plus-square
          | plus-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plus-square-o
          | plus-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-power-off
          | power-off

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-print
          | print

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-puzzle-piece
          | puzzle-piece

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-qrcode
          | qrcode

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-question
          | question

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-question-circle
          | question-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-quote-left
          | quote-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-quote-right
          | quote-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-random
          | random

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-recycle
          | recycle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-refresh
          | refresh

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-registered
          | registered

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-remove
          | remove
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-reorder
          | reorder
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-reply
          | reply

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-reply-all
          | reply-all

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-retweet
          | retweet

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-road
          | road

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rocket
          | rocket

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rss
          | rss

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rss-square
          | rss-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-search
          | search

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-search-minus
          | search-minus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-search-plus
          | search-plus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-send
          | send
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-send-o
          | send-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-server
          | server

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-share
          | share

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-share-alt
          | share-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-share-alt-square
          | share-alt-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-share-square
          | share-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-share-square-o
          | share-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shield
          | shield

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ship
          | ship

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shopping-bag
          | shopping-bag

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shopping-basket
          | shopping-basket

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shopping-cart
          | shopping-cart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sign-in
          | sign-in

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sign-out
          | sign-out

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-signal
          | signal

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sitemap
          | sitemap

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sliders
          | sliders

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-smile-o
          | smile-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-soccer-ball-o
          | soccer-ball-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort
          | sort

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-alpha-asc
          | sort-alpha-asc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-alpha-desc
          | sort-alpha-desc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-amount-asc
          | sort-amount-asc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-amount-desc
          | sort-amount-desc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-asc
          | sort-asc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-desc
          | sort-desc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-down
          | sort-down
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-numeric-asc
          | sort-numeric-asc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-numeric-desc
          | sort-numeric-desc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sort-up
          | sort-up
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-space-shuttle
          | space-shuttle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-spinner
          | spinner

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-spoon
          | spoon

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-square
          | square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-square-o
          | square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-star
          | star

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-star-half
          | star-half

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-star-half-empty
          | star-half-empty
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-star-half-full
          | star-half-full
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-star-half-o
          | star-half-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-star-o
          | star-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sticky-note
          | sticky-note

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sticky-note-o
          | sticky-note-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-street-view
          | street-view

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-suitcase
          | suitcase

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sun-o
          | sun-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-support
          | support
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tablet
          | tablet

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tachometer
          | tachometer

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tag
          | tag

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tags
          | tags

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tasks
          | tasks

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-taxi
          | taxi

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-television
          | television

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-terminal
          | terminal

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumb-tack
          | thumb-tack

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-down
          | thumbs-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-o-down
          | thumbs-o-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-o-up
          | thumbs-o-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-up
          | thumbs-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ticket
          | ticket

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-times
          | times

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-times-circle
          | times-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-times-circle-o
          | times-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tint
          | tint

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-down
          | toggle-down
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-left
          | toggle-left
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-off
          | toggle-off

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-on
          | toggle-on

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-right
          | toggle-right
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-up
          | toggle-up
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-trademark
          | trademark

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-trash
          | trash

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-trash-o
          | trash-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tree
          | tree

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-trophy
          | trophy

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-truck
          | truck

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tty
          | tty

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tv
          | tv
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-umbrella
          | umbrella

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-university
          | university

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-unlock
          | unlock

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-unlock-alt
          | unlock-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-unsorted
          | unsorted
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-upload
          | upload

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-user
          | user

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-user-plus
          | user-plus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-user-secret
          | user-secret

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-user-times
          | user-times

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-users
          | users

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-video-camera
          | video-camera

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-volume-down
          | volume-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-volume-off
          | volume-off

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-volume-up
          | volume-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-warning
          | warning
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wheelchair
          | wheelchair

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wifi
          | wifi

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wrench
          | wrench

    // Hand
    section.page-subsection(id="hand").offset-custom-2
      h3 Hand Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-grab-o
          | hand-grab-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-lizard-o
          | hand-lizard-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-down
          | hand-o-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-left
          | hand-o-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-right
          | hand-o-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-up
          | hand-o-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-paper-o
          | hand-paper-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-peace-o
          | hand-peace-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-pointer-o
          | hand-pointer-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-rock-o
          | hand-rock-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-scissors-o
          | hand-scissors-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-spock-o
          | hand-spock-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-stop-o
          | hand-stop-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-down
          | thumbs-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-o-down
          | thumbs-o-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-o-up
          | thumbs-o-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-thumbs-up
          | thumbs-up

    // Transportation
    section.page-subsection(id="transportation").offset-custom-2
      h3 Transportation Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ambulance
          | ambulance

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-automobile
          | automobile
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bicycle
          | bicycle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bus
          | bus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cab
          | cab
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-car
          | car

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fighter-jet
          | fighter-jet

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-motorcycle
          | motorcycle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plane
          | plane

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rocket
          | rocket

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ship
          | ship

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-space-shuttle
          | space-shuttle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-subway
          | subway

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-taxi
          | taxi

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-train
          | train

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-truck
          | truck

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wheelchair
          | wheelchair

    // Gender
    section.page-subsection(id="gender").offset-custom-2
      h3 Gender Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-genderless
          | genderless

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-intersex
          | intersex
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mars
          | mars

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mars-double
          | mars-double

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mars-stroke
          | mars-stroke

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mars-stroke-h
          | mars-stroke-h

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mars-stroke-v
          | mars-stroke-v

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mercury
          | mercury

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-neuter
          | neuter

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-transgender
          | transgender

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-transgender-alt
          | transgender-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-venus
          | venus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-venus-double
          | venus-double

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-venus-mars
          | venus-mars

    // File type
    section.page-subsection(id="file-type").offset-custom-2
      h3 File Type Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file
          | file

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-archive-o
          | file-archive-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-audio-o
          | file-audio-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-code-o
          | file-code-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-excel-o
          | file-excel-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-image-o
          | file-image-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-movie-o
          | file-movie-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-o
          | file-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-pdf-o
          | file-pdf-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-photo-o
          | file-photo-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-picture-o
          | file-picture-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-powerpoint-o
          | file-powerpoint-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-sound-o
          | file-sound-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-text
          | file-text

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-text-o
          | file-text-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-video-o
          | file-video-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-word-o
          | file-word-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-zip-o
          | file-zip-o
          span.text-muted (alias)

    // Spinner
    section.page-subsection(id="spinner").offset-custom-2
      h3 Spinner Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-circle-o-notch
          | circle-o-notch

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cog
          | cog

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gear
          | gear
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-refresh
          | refresh

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-spinner
          | spinner

    // Form Control
    section.page-subsection(id="form-input").offset-custom-2
      h3 Form Control Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-check-square
          | check-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-check-square-o
          | check-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-circle
          | circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-circle-o
          | circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dot-circle-o
          | dot-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-minus-square
          | minus-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-minus-square-o
          | minus-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plus-square
          | plus-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plus-square-o
          | plus-square-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-square
          | square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-square-o
          | square-o

    // Payment
    section.page-subsection(id="payment").offset-custom-2
      h3 Payment Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-amex
          | cc-amex

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-diners-club
          | cc-diners-club

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-discover
          | cc-discover

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-jcb
          | cc-jcb

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-mastercard
          | cc-mastercard

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-paypal
          | cc-paypal

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-stripe
          | cc-stripe

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-visa
          | cc-visa

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-credit-card
          | credit-card

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-credit-card-alt
          | credit-card-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-google-wallet
          | google-wallet

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paypal
          | paypal

    // Chart
    section.page-subsection(id="chart").offset-custom-2
      h3 Chart Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-area-chart
          | area-chart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bar-chart
          | bar-chart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bar-chart-o
          | bar-chart-o
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-line-chart
          | line-chart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pie-chart
          | pie-chart

    // Currency
    section.page-subsection(id="currency").offset-custom-2
      h3 Currency Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bitcoin
          | bitcoin
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-btc
          | btc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cny
          | cny
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dollar
          | dollar
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-eur
          | eur

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-euro
          | euro
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gbp
          | gbp

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gg
          | gg

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gg-circle
          | gg-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ils
          | ils

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-inr
          | inr

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-jpy
          | jpy

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-krw
          | krw

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-money
          | money

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rmb
          | rmb
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rouble
          | rouble
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rub
          | rub

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ruble
          | ruble
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rupee
          | rupee
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shekel
          | shekel
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sheqel
          | sheqel
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-try
          | try

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-turkish-lira
          | turkish-lira
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-usd
          | usd

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-won
          | won
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-yen
          | yen
          span.text-muted (alias)

    // Text Editor
    section.page-subsection(id="text-editor").offset-custom-2
      h3 Text Editor Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-align-center
          | align-center

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-align-justify
          | align-justify

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-align-left
          | align-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-align-right
          | align-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bold
          | bold

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chain
          | chain
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chain-broken
          | chain-broken

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-clipboard
          | clipboard

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-columns
          | columns

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-copy
          | copy
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cut
          | cut
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dedent
          | dedent
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-eraser
          | eraser

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file
          | file

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-o
          | file-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-text
          | file-text

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-file-text-o
          | file-text-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-files-o
          | files-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-floppy-o
          | floppy-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-font
          | font

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-header
          | header

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-indent
          | indent

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-italic
          | italic

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-link
          | link

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-list
          | list

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-list-alt
          | list-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-list-ol
          | list-ol

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-list-ul
          | list-ul

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-outdent
          | outdent

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paperclip
          | paperclip

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paragraph
          | paragraph

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paste
          | paste
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-repeat
          | repeat

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rotate-left
          | rotate-left
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rotate-right
          | rotate-right
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-save
          | save
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-scissors
          | scissors

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-strikethrough
          | strikethrough

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-subscript
          | subscript

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-superscript
          | superscript

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-table
          | table

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-text-height
          | text-height

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-text-width
          | text-width

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-th
          | th

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-th-large
          | th-large

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-th-list
          | th-list

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-underline
          | underline

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-undo
          | undo

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-unlink
          | unlink
          span.text-muted (alias)

    // Directional
    section.page-subsection(id="directional").offset-custom-2
      h3 Directional Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-double-down
          | angle-double-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-double-left
          | angle-double-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-double-right
          | angle-double-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-double-up
          | angle-double-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-down
          | angle-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-left
          | angle-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-right
          | angle-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angle-up
          | angle-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-down
          | arrow-circle-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-left
          | arrow-circle-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-o-down
          | arrow-circle-o-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-o-left
          | arrow-circle-o-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-o-right
          | arrow-circle-o-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-o-up
          | arrow-circle-o-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-right
          | arrow-circle-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-circle-up
          | arrow-circle-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-down
          | arrow-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-left
          | arrow-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-right
          | arrow-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrow-up
          | arrow-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows
          | arrows

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows-alt
          | arrows-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows-h
          | arrows-h

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows-v
          | arrows-v

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-down
          | caret-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-left
          | caret-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-right
          | caret-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-down
          | caret-square-o-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-left
          | caret-square-o-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-right
          | caret-square-o-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-square-o-up
          | caret-square-o-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-caret-up
          | caret-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-circle-down
          | chevron-circle-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-circle-left
          | chevron-circle-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-circle-right
          | chevron-circle-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-circle-up
          | chevron-circle-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-down
          | chevron-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-left
          | chevron-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-right
          | chevron-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chevron-up
          | chevron-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-exchange
          | exchange

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-down
          | hand-o-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-left
          | hand-o-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-right
          | hand-o-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hand-o-up
          | hand-o-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-long-arrow-down
          | long-arrow-down

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-long-arrow-left
          | long-arrow-left

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-long-arrow-right
          | long-arrow-right

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-long-arrow-up
          | long-arrow-up

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-down
          | toggle-down
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-left
          | toggle-left
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-right
          | toggle-right
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-toggle-up
          | toggle-up
          span.text-muted (alias)

    // Video Player
    section.page-subsection(id="video-player").offset-custom-2
      h3 Video Player Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-arrows-alt
          | arrows-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-backward
          | backward

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-compress
          | compress

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-eject
          | eject

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-expand
          | expand

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fast-backward
          | fast-backward

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fast-forward
          | fast-forward

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-forward
          | forward

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pause
          | pause

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pause-circle
          | pause-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pause-circle-o
          | pause-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-play
          | play

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-play-circle
          | play-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-play-circle-o
          | play-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-random
          | random

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-step-backward
          | step-backward

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-step-forward
          | step-forward

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stop
          | stop

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stop-circle
          | stop-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stop-circle-o
          | stop-circle-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-youtube-play
          | youtube-play

    // Brand
    section.page-subsection(id="brand").offset-custom-2
      h3 Brand Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-500px
          | 500px

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-adn
          | adn

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-amazon
          | amazon

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-android
          | android

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-angellist
          | angellist

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-apple
          | apple

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-behance
          | behance

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-behance-square
          | behance-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bitbucket
          | bitbucket

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bitbucket-square
          | bitbucket-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bitcoin
          | bitcoin
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-black-tie
          | black-tie

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bluetooth
          | bluetooth

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-bluetooth-b
          | bluetooth-b

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-btc
          | btc

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-buysellads
          | buysellads

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-amex
          | cc-amex

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-diners-club
          | cc-diners-club

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-discover
          | cc-discover

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-jcb
          | cc-jcb

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-mastercard
          | cc-mastercard

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-paypal
          | cc-paypal

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-stripe
          | cc-stripe

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-cc-visa
          | cc-visa

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-chrome
          | chrome

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-codepen
          | codepen

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-codiepie
          | codiepie

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-connectdevelop
          | connectdevelop

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-contao
          | contao

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-css3
          | css3

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dashcube
          | dashcube

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-delicious
          | delicious

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-deviantart
          | deviantart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-digg
          | digg

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dribbble
          | dribbble

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-dropbox
          | dropbox

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-drupal
          | drupal

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-edge
          | edge

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-empire
          | empire

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-expeditedssl
          | expeditedssl

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-facebook
          | facebook

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-facebook-f
          | facebook-f
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-facebook-official
          | facebook-official

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-facebook-square
          | facebook-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-firefox
          | firefox

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-flickr
          | flickr

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fonticons
          | fonticons

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-fort-awesome
          | fort-awesome

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-forumbee
          | forumbee

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-foursquare
          | foursquare

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ge
          | ge
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-get-pocket
          | get-pocket

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gg
          | gg

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gg-circle
          | gg-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-git
          | git

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-git-square
          | git-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-github
          | github

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-github-alt
          | github-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-github-square
          | github-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gittip
          | gittip
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-google
          | google

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-google-plus
          | google-plus

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-google-plus-square
          | google-plus-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-google-wallet
          | google-wallet

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-gratipay
          | gratipay

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hacker-news
          | hacker-news

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-houzz
          | houzz

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-html5
          | html5

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-instagram
          | instagram

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-internet-explorer
          | internet-explorer

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ioxhost
          | ioxhost

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-joomla
          | joomla

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-jsfiddle
          | jsfiddle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-lastfm
          | lastfm

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-lastfm-square
          | lastfm-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-leanpub
          | leanpub

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-linkedin
          | linkedin

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-linkedin-square
          | linkedin-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-linux
          | linux

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-maxcdn
          | maxcdn

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-meanpath
          | meanpath

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-medium
          | medium

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-mixcloud
          | mixcloud

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-modx
          | modx

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-odnoklassniki
          | odnoklassniki

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-odnoklassniki-square
          | odnoklassniki-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-opencart
          | opencart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-openid
          | openid

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-opera
          | opera

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-optin-monster
          | optin-monster

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pagelines
          | pagelines

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-paypal
          | paypal

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pied-piper
          | pied-piper

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pied-piper-alt
          | pied-piper-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pinterest
          | pinterest

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pinterest-p
          | pinterest-p

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-pinterest-square
          | pinterest-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-product-hunt
          | product-hunt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-qq
          | qq

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ra
          | ra
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-rebel
          | rebel

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-reddit
          | reddit

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-reddit-alien
          | reddit-alien

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-reddit-square
          | reddit-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-renren
          | renren

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-safari
          | safari

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-scribd
          | scribd

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-sellsy
          | sellsy

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-share-alt
          | share-alt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-share-alt-square
          | share-alt-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-shirtsinbulk
          | shirtsinbulk

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-simplybuilt
          | simplybuilt

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-skyatlas
          | skyatlas

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-skype
          | skype

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-slack
          | slack

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-slideshare
          | slideshare

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-soundcloud
          | soundcloud

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-spotify
          | spotify

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stack-exchange
          | stack-exchange

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stack-overflow
          | stack-overflow

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-steam
          | steam

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-steam-square
          | steam-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stumbleupon
          | stumbleupon

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stumbleupon-circle
          | stumbleupon-circle

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tencent-weibo
          | tencent-weibo

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-trello
          | trello

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tripadvisor
          | tripadvisor

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tumblr
          | tumblr

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-tumblr-square
          | tumblr-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-twitch
          | twitch

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-twitter
          | twitter

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-twitter-square
          | twitter-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-usb
          | usb

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-viacoin
          | viacoin

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-vimeo
          | vimeo

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-vimeo-square
          | vimeo-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-vine
          | vine

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-vk
          | vk

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wechat
          | wechat
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-weibo
          | weibo

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-weixin
          | weixin

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-whatsapp
          | whatsapp

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wikipedia-w
          | wikipedia-w

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-windows
          | windows

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wordpress
          | wordpress

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-xing
          | xing

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-xing-square
          | xing-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-y-combinator
          | y-combinator

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-y-combinator-square
          | y-combinator-square
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-yahoo
          | yahoo

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-yc
          | yc
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-yc-square
          | yc-square
          span.text-muted (alias)

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-yelp
          | yelp

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-youtube
          | youtube

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-youtube-play
          | youtube-play

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-youtube-square
          | youtube-square

    // Medical
    section.page-subsection(id="medical").offset-custom-2
      h3 Medical Icons

      .row.list-icon.text-left.offset-custom-5
        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-ambulance
          | ambulance

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-h-square
          | h-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-heart
          | heart

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-heart-o
          | heart-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-heartbeat
          | heartbeat

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-hospital-o
          | hospital-o

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-medkit
          | medkit

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-plus-square
          | plus-square

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-stethoscope
          | stethoscope

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-user-md
          | user-md

        .col-6.col-md-4.col-lg-3.fa-hover
          i.fa.fa-wheelchair
          | wheelchair