+media_team('text-sm-left comment', 'images/index-13.jpg','Jack Wilson','','img-circle', 'media-body-inset-1')
  .blog-post-time
    time(datetime="2018-04-24") April 24, 2018 at 10:46 am
  p Quam pellentesque nec nam aliquam. Ornare lectus sit amet est placerat. At lectus urna duis convallis convallis tellus.
  a.icon.icon-success.fa-reply(href="#")
+media_team('text-sm-left preffix-1 comment-reply', 'images/index-12.jpg','Sharon Willis','','img-circle', 'media-body-inset-1')
  .blog-post-time
    time(datetime="2018-04-24") April 24, 2018 at 10:46 am
    span.icon.fa-reply Jack Wilson
  p Eu mi bibendum neque egestas. Risus quis varius quam quisque id diam vel. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam.
  a.icon.icon-success.fa-reply(href="#")