footer.page-foot.bg-gray-900
  section.footer-content
    .container
      .rd-navbar-brand-2
        a.brand-name(href='index.html')
          img(src="images/logo-default.png" alt="")
      ul.list-inline.offset-top-20
        li: a.fa-facebook(href="#")
        li: a.fa-twitter(href="#")
        li: a.fa-pinterest-p(href="#")
        li: a.fa-vimeo(href="#")
        li: a.fa-google(href="#")
        li: a.fa-rss(href='#')

  section.footer-copyright-1.copyright
    .container
      +rights