-var  rd_navbar_class_ajuster = "bg-transparent"
-var  rd_navbar_data_ajuster = {"data-layout":"rd-navbar-fixed", "data-sm-layout":"rd-navbar-fixed", "data-md-layout":'rd-navbar-fullwidth', "data-lg-layout":"rd-navbar-static", "data-xl-layout":"rd-navbar-static", "data-xxl-layout":"rd-navbar-static", "data-device-layout":"rd-navbar-fixed", "data-sm-device-layout":"rd-navbar-fixed", "data-md-device-layout":"rd-navbar-fixed", "data-lg-device-layout":"rd-navbar-fixed", "data-xl-device-layout":"rd-navbar-static", "data-xxl-device-layout":"rd-navbar-static", "data-stick-up-offset" : "100px"}

header.page-head(class=header_class)
  include _navigation
section.section-coming
  .container
    .row.justify-content-center
      block content-1