extends  ../_skeleton

block variables
  - var activeIndex = 4

block title
  title About Us

block page
  // Page Header
  -var header_class = "bg-blog"
  -var header_h1 = "<span class='font-weight-bold'>About us</span>"
  -var header_small = "Who We Are"
  -var page_active = "About us"
  -var page_parent = "Pages"


  include ../elements/_header-transparent
  // Page Content
  main.page-content
    include ../section/about/_section-breadcrumb
    include ../section/about/_section-about
    include ../section/about/_section-hand-craft
    include ../section/index/_section-counter
    include ../section/about/_section-services

    -var class_adjuster = "offset-custom-2"
    -var team_Mod = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu facilisis sed odio morbi."
    include ../section/about/_section-team



  // Page Footer
  include ../elements/_footer-light-center
