extends  ../_skeleton
block variables
  - var activeIndex = 6
block title
  title Contact Us
block page
  // Page Header
  -var header_class = "bg-blog"
  -var header_h1 = "<span class='font-weight-bold'>contact information</span>"
  -var header_small = "Get in Touch"
  -var page_active = "Contact Us"
  -var page_parent = "Contact"
  include ../elements/_header-transparent
  // Page Content
  main.page-content
    include ../section/about/_section-breadcrumb-2
    include ../section/contact/_section-contact-2
    include ../section/contact/_section-contact-3

  // Page Footer
  include ../elements/_footer-light-center
  // Rd Mailform result field
  .rd-mailform-validate
