extends  ../_skeleton
block variables
  - var activeIndex = 4
block title
  title FAQ
block page
  // Page Header
  -var header_class = "bg-blog"
  -var header_h1 = "<span class='font-weight-bold'>FAQ</span>"
  -var header_small = "frequently asked questions"
  -var page_active = "FAQs"
  -var page_parent = "Pages"
  include ../elements/_header-transparent
  // Page Content
  main.page-content
    include ../section/about/_section-breadcrumb
    include ../section/faq/_section-faq-2
    include ../section/faq/_section-faq-3
  // Page Footer
  include ../elements/_footer-light-center
