extends  ../_skeleton
include ../mixin/_mixin-pagination
block variables
  - var activeIndex = 4
block title
  title Search Results
block page
  // Page Header
  -var header_class = "bg-blog"
  -var header_h1 = "<span class='font-weight-bold'>Search Results</span>"
  -var header_small = "Here’s what we found"
  -var page_active = "Search Results"
  -var page_parent = "Extras"
  include ../elements/_header-transparent
  // Page Content
  main.page-content
    include ../section/about/_section-breadcrumb
    include ../section/search/_section-search-2
  // Page Footer
  include ../elements/_footer-light-center
