extends  ../_skeleton

block variables
  - var activeIndex = 4
block title
  title Tables
block page
  // Page Header
  -var header_class = "bg-blog"
  -var header_h1 = "<span class='font-weight-bold'>Tables</span>"
  -var header_small = "interface elements"
  -var header_big = ""
  -var page_active = "Tables"
  -var page_parent = "Elements"
  include ../elements/_header-transparent
  // Page Content
  main.page-content
    include ../section/about/_section-breadcrumb
    include ../section/tables/_section-tables-2
  // Page Footer
  include ../elements/_footer-light-center
