+section("section section-inset-1", "buttons", "")
  p.h5.fw-l Easily insert buttons and call-to-actions in any page, use amazing custom options to <br> spice up your pages.
section
  .container
    h4 Button Sizes
    p.offset-custom-5 4 different sizes: super, large, default and small.
    .btn-group-variant
      a(href="#").btn.btn-success.btn-lg super size
      a(href="#").btn.btn-success.btn-md laRge size
      a(href="#").btn.btn-success.btn-sm default size
      a(href="#").btn.btn-success.btn-xs small size
section.section.section-inset-1
  .container
    h4 Button Shapes
    p.offset-custom-5 3 different shapes: default, round and square.
    .btn-group-variant
      a(href="#").btn.btn-success.btn-sm.btn-shape-default.btn-min-width-sm default
      a(href="#").btn.btn-success.btn-sm.btn-shape-round.btn-min-width-sm round
      a(href="#").btn.btn-success.btn-sm.btn-shape-square.btn-min-width-sm square
section.section.section-inset-3
  .container
    h4 Button Shapes
    p.offset-custom-5 Buttons are fully integrated with 900+ icons.
    .btn-group-variant
      a(href="#").btn.btn-success.btn-sm.btn-min-width-sm icon left &nbsp; #[span.icon.icon-xs.fa-arrow-right]
      a(href="#").btn.btn-success.btn-sm.btn-min-width-sm #[span.icon.icon-xs.fa-arrow-left] &nbsp; icon right
      a(href="#").btn.btn-success.btn-sm.btn-success-mod-1.btn-min-width-sm icon left &nbsp; #[span.icon.icon-xs.fa-arrow-right]
      a(href="#").btn.btn-success.btn-sm.btn-success-mod-1.btn-min-width-sm #[span.icon.icon-xs.fa-arrow-left]  &nbsp; icon right
section.section-inset-1.section-inset-3
  .container
    h4 Buttons with Shadow
    p.offset-custom-5 Enhance your buttons with a shadow effect.
    .btn-group-variant
      a(href="#").btn.btn-success.btn-sm.btn-min-width-sm.btn-shadow  shadow
      a(href="#").btn.btn-success.btn-sm.btn-success-mod-1.btn-min-width-sm.btn-shadow shadow