section.section-inset-1
  .container
    h6 Image Centered
    .row.offset-custom-5
      .col-12
        .thumbnail
          img(src="images/typography-2.jpg" alt="")
          .caption-mod-3
            span.text-gray New Movies
            p.text-md-left Nibh sed pulvinar proin gravida hendrerit. Ornare arcu odio ut sem nulla pharetra diam sit amet. Blandit libero volutpat sed cras ornare arcu dui vivamus.