section.section.section-inset-2
   .container
      h2.text-center Top Box Office
      hr
      .row.row-45.justify-content-center
         .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
                img(src="images/gallery-9.jpg" alt="")
            .caption-1
               .caption-wrapper
            .poster-blog.text-left
               h6.text-gray-900.offset-top-20
                  a( href='shop-product.html' ) Halloween
               p.text-gray 2018, USA, Drama
               .review
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2.text-gray
               .price.text-left
                  ul
                     li $29.00
                     li: a.letter-spacing-2(href='#' ) BUY MOVIE

         .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
               img(src="images/gallery-10.jpg" alt="")
            .caption-1
               .caption-wrapper
            .poster-blog.text-left
               h6.text-gray-900.offset-top-20
                  a( href='shop-product.html' ) Venom
               p.text-gray 2018, USA, Action, Fantasy
               .review
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
               .price.text-left
                  ul
                     li $29.00
                     li: a.letter-spacing-2(href='#' ) BUY MOVIE

         .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
               img(src="images/gallery-11.jpg" alt="")
            .caption-1
               .caption-wrapper
            .poster-blog.text-left
               h6.text-gray-900.offset-top-20
                  a( href='shop-product.html' ) Hunter Killer
               p.text-gray 2018, USA, Action
               .review
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
               .price.text-left
                  ul
                     li $29.00
                     li: a.letter-spacing-2(href='#' ) BUY MOVIE

         .col-9.col-sm-6.col-lg-3
            a(href='shop-product.html'): .box-office-media
             img(src="images/gallery-12.jpg" alt="")
            .caption-1
               .caption-wrapper
            .poster-blog.text-left
               h6.text-gray-900.offset-top-20
                  a( href='shop-product.html' ) What They Had
               p.text-gray 2018, USA, Adventure, Action
               .review
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
                  span.icon.fa-star.icon-waring-2
               .price.text-left
                  ul
                     li $29.00
                     li: a.letter-spacing-2(href='#' ) BUY MOVIE
