section.section.section-inset-1
  .container
    h2 Recent News
    hr
    .row.row-45.text-md-left
      .col-12.col-md-6.col-lg-4
        .blog-post.thumbnail-1.thumbnail-mod-2
          img(src='images/index-8.jpg' alt="")
          .caption
            .blog-post-title
              h4.text-success-custom.text-transform-none
                a(href="blog_post.html") "Better Call Saul" Writer Offers
                  br
                  | Advice
            .blog-post-time
              time(datetime="2018-12-26") December 26, 2018
            .blog-post-body
              p “Better Call Saul” writer Gennifer Hutchison offered some advice to Jason Blum after the Blumhouse Productions chief said in an interview that he’s “trying” to hire a woman...
              a.badge.fa-comment(href="blog_post.html").text-success-custom 2
      .col-12.col-md-6.col-lg-4
        .blog-post.thumbnail-1.thumbnail-mod-2
          img(src='images/index-9.jpg' alt="")
          .caption
            .blog-post-title
              h4.text-success-custom.text-transform-none
                a(href="blog_post.html") "Single Parents" Lands Full-Season Order From ABC
            .blog-post-time
              time(datetime="2018-12-26") December 26, 2018
            .blog-post-body
              p ABC has given a full-season order to the freshman comedy “Single Parents.” Three episodes into its run, the comedy created...
              a.badge.fa-comment(href="blog_post.html").text-success-custom 2
      .col-12.col-md-12.col-lg-4
        .blog-post.thumbnail-1.thumbnail-mod-2
          img(src='images/index-10.jpg' alt="")
          .caption
            .blog-post-title
              h4.text-success-custom.text-transform-none
                a(href="blog_post.html") "Animals" Canceled After Three Seasons at HBO
            .blog-post-time
              time(datetime="2018-12-26") December 26, 2018
            .blog-post-body
              p HBO has canceled the animated series “Animals” after three seasons, Variety has confirmed. The series was created by executive producers Phil Matarese and Mike Luciano...
              a.badge.fa-comment(href="blog_post.html").text-success-custom 2
    a.btn.btn-success-mod-1.btn-sm.btn-min-width(href="blog_default.html") view all blog posts
