section.section-inset-1
  .container
    h6 Image Left
    .row
      .col-12
        .media-mod-3
          .media-left
            img(src="images/typography-3.jpg" alt="")
          .media-body.text-md-left
            p Congue eu consequat ac felis. Dignissim convallis aenean et tortor at risus viverra. Scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Pellentesque id nibh tortor id aliquet lectus. Tellus elementum sagittis vitae et leo duis ut diam.