.section
  .container
    .row.justify-content-center
      .col-12.col-lg-8
        section.section-inset-1
          h1 H1 heading
          p.text-md-left.offset-custom-7 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae elementum curabitur vitae nunc.
          p.text-md-left Viverra maecenas accumsan lacus vel facilisis. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. At elementum eu facilisis sed odio morbi.
        section.section-inset-2
          h2 H2 heading
          p.text-md-left.offset-custom-7 At lectus urna duis convallis convallis tellus id interdum. Consequat ac felis donec et odio. Nunc sed blandit libero volutpat sed cras ornare. Elementum integer enim neque volutpat.
          p.text-md-left At ultrices mi tempus imperdiet nulla malesuada pellentesque. Condimentum lacinia quis vel eros donec ac odio tempor orci. Dictum varius duis at consectetur lorem donec massa.
        section.section-inset-2
          h3 H3 heading
          p.text-md-left.offset-custom-5 Et malesuada fames ac turpis egestas sed tempus. Pretium nibh ipsum consequat nisl. Velit dignissim sodales ut eu sem integer vitae justo eget.
          p.text-md-left Risus sed vulputate odio ut enim blandit. Quisque id diam vel quam elementum. Pretium aenean pharetra magna ac placerat.
        section.section-inset-2
          h4 H4 heading
          p.text-md-left Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Habitant morbi tristique senectus et netus et malesuada.
        section.section-inset-1
          h5.fw-l.text-transform-none H5 Heading
          p.text-md-left.offset-custom-5 Nec tincidunt praesent semper feugiat. Erat velit scelerisque in dictum non consectetur a. Aliquet porttitor lacus luctus accumsan.
        section.section-inset-1
          h6 H6 Heading
          p.text-md-left Augue interdum velit euismod in. Dictumst quisque sagittis purus sit. Aliquet eget sit amet tellus cras. Augue eget arcu dictum varius duis at consectetur lorem donec.
        section.section-inset-1
          h6 Blockquote
          blockquote.quote-1.bg-light.text-md-left.offset-custom-5
            p
              q Donec enim diam vulputate ut pharetra. Sagittis eu volutpat odio facilisis mauris sit amet.
            p
              cite Brandon Burns
        section.section-inset-2
          h6 HTML Text Elements
          p.text-md-left.offset-custom-5  <a href="#"> Link text </a> <a class="text-hover" href="#"> Hover link text</a> <a class="text-gray" href="#"> Press link</a> A website is a medium that connects a person with the world of digital data. <strong>This is a bold text </strong> With its help users can access information, make purchases, communicate with each other, and do loads of other things.
          p.text-md-left Velit euismod in pellentesqu <mark> highlighted text </mark> ultrices sagittis  <em>italic text </em> presentation. Est velit egestas dui id ornare  <span class="text-gray" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor"> Tooltips </span> their client base with ease.  On the modern market the competition is very tough,  <del>strickethrough text</del> so in order to be a success businesses experiment <u> underlined text</u>.
        section
          h6 Unordered and Ordered Lists
          p.text-left.offset-custom-5 Crafting unique experiences by enhancing usability, accessibility and pleasure of the user interaction with the product. :
          ul.marked-list.text-left
            li: a.text-base(href="#") Highly Customizable;
            li: a.text-base(href="#") Pre-Built Pages;
            li: a.text-base(href="#") Powered Page Builder;
            li: a.text-base(href="#") SEO Optimized;
            li: a.text-base(href="#") Outstanding Support.
          p.text-left Making fully adaptive web projects that automatically adjust to any screen that they are viewed on. The list of our advantages:
          ol.ordered-list.text-left
            li: a.text-base(href="#") Highly Customizable;
            li: a.text-base(href="#") Pre-Built Pages;
            li: a.text-base(href="#") Clean Design;
            li: a.text-base(href="#") SEO Optimized;
            li: a.text-base(href="#") Outstanding Support.