section.section-inset-1
  .container
    h6 Icon List
    .row.row-45.text-md-left.offset-custom-5
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-desktop
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Retina Ready
            p Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit.
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-cogs
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Incredibly Flexible
            p Tristique senectus et netus et malesuada fames ac.
      .col-12.col-md-6.col-xl-4
        .media.flex-column.flex-md-row.thumbnail-mod-2
          .media-left
            span.icon.icon-success.icon-sm.fa-thumbs-o-up
          .media-body.box-service
            h6.text-transform-none
              a(href="#") Quick Support
            p Justo nec ultrices dui sapien eget mi proin sed libero.