section.section-inset-1
  .container
    h6 Image Right
    .row
      .col-12
        .media-mod-3
          .media-body.text-md-left
            p Sem viverra aliquet eget sit amet tellus cras adipiscing. Cras fermentum odio eu feugiat pretium nibh ipsum. Massa sapien faucibus et molestie ac feugiat sed lectus. In massa tempor nec feugiat nisl pretium fusce id. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Penatibus et magnis dis parturient montes nascetur. Suspendisse in est ante in nibh mauris. Fringilla phasellus faucibus scelerisque eleifend. Amet nulla facilisi morbi tempus.
          .media-right
            img(src="images/typography-3.jpg" alt="")