section.section.section-inset-3
  .container
    h2 Some of your Questions
    hr
    .row.justify-content-center.text-md-left
      .col-12.col-lg-8
        p Cursus sit amet dictum sit amet justo donec enim. Condimentum id venenatis a condimentum. Rutrum quisque non tellus orci ac auctor augue mauris:
        ul.marked-list.marked-list-2.text-left
          li: a.anchor(href='#q1', data-waypoint-to="#q1") How can I change something in my order?
          li: a.anchor(href='#q2', data-waypoint-to="#q2") How can I pay for my order?
          li: a.anchor(href='#q3', data-waypoint-to="#q3") Can I track my order?
          li: a.anchor(href='#q4', data-waypoint-to="#q4") Can I return an item?
          li: a.anchor(href='#q5', data-waypoint-to="#q5") How long will my order take to be delivered?

    .row.justify-content-center.offset-custom-4.text-md-left#q1
      .col-12.col-lg-8
        h6 How can I change something in my order?
        p Aliquam sem fringilla ut morbi tincidunt augue interdum. Ullamcorper a lacus vestibulum sed arcu non.
    .row.justify-content-center.offset-custom-2.text-md-left#q2
      .col-12.col-lg-8
        h6 How can I pay for my order?
        p Facilisi nullam vehicula ipsum a arcu cursus. Laoreet id donec ultrices tincidunt arcu.
    .row.justify-content-center.offset-custom-2.text-md-left#q3
      .col-12.col-lg-8
        h6 Can I track my order?
        p Ac placerat vestibulum lectus mauris ultrices eros in cursus.
    .row.justify-content-center.offset-custom-2.text-md-left#q4
      .col-12.col-lg-8
        h6 Can I return an item?
        p Sed arcu non odio euismod lacinia. Nam aliquam sem et tortor consequat. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis.
    .row.justify-content-center.offset-custom-2.text-md-left#q5
      .col-12.col-lg-8
        h6 How long will my order take to be delivered?
        p Quam vulputate dignissim suspendisse in est ante in nibh mauris. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque.
