section.section.timeline
  .container
    .row.row-45
      .col-12.text-left.text-lg-center
        time(datetime='2018').h4.meta-timeline october 2018
      .col-12.col-lg-4.offset-lg-1
        article.blog-post.thumbnail.view-animate
          .img-wrap.view-animate
            img(src="images/blog-2.jpg" alt="")
          .caption-mod-1
            .blog-post-time
              time(datetime="2018-10-07") October 8, 2018 &nbsp;
              span by Walter Myers
            .blog-post-title
              h4.text-success-custom
                a(href="blog_post.html") "BETTER CALL SAUL" WRITER OFFERS ADVICE
            .blog-post-body.text-md-left
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi etiam dignissim diam quis enim. Scelerisque eleifend donec pretium vulputate sapien. Diam quis enim lobortis scelerisque fermentum dui faucibus in ornare. Vulputate mi sit amet mauris commodo quis imperdiet.
            .blog-post-footer.text-md-left
              .tags
                a.post-tags(href='#') Movies
                a.post-tags(href='#') News
                a.post-tags(href='#') Premieres
              .badge.offset-custom-9
                 a(href="blog_post.html ").text-gray 2 Comments

      .col-12.col-lg-4.offset-lg-2.inset-1.timeline-right
        article.blog-post.thumbnail.view-animate.well3
          .img-wrap.view-animate
            img(src="images/blog-3.jpg" alt="")
          .caption-mod-1
            .blog-post-time
              time(datetime="2018-10-07") October 7, 2018 &nbsp;
              span by Walter Myers
            .blog-post-title
              h4.text-success-custom
                a(href="blog_post.html") "SINGLE PARENTS" LANDS FULL-SEASON ORDER FROM ABC
            .blog-post-body.text-md-left
              p At lectus urna duis convallis. At tempor commodo ullamcorper a lacus. Cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Porttitor rhoncus dolor purus non. Odio facilisis mauris sit amet.
            .blog-post-footer.text-md-left
              .tags
                a.post-tags(href='#') Movies
                a.post-tags(href='#') News
                a.post-tags(href='#') Premieres
              .badge.offset-custom-9
                 a(href="blog_post.html ").text-gray 10 Comments

      .col-12.text-left.text-lg-center.offset-custom-6
        time(datetime='2018').h4.meta-timeline november 2018

      .col-12.col-lg-4.offset-lg-1
        article.blog-post.thumbnail.view-animate
          .img-wrap.view-animate
            img(src="images/blog-5.jpg" alt="")
          .caption-mod-1
            .blog-post-time
              time(datetime="2018-10-07") November 7, 2018 &nbsp;
              span by Walter Myers
            .blog-post-title
              h4.text-success-custom
                a(href="blog_post.html") IRON MAN'S AVENGERS 4 ARMOR MAY BE RADICALLY DIFFERENT
            .blog-post-body.text-md-left
              p Nulla aliquet enim tortor at auctor urna nunc id. Integer quis auctor elit sed vulputate. Habitasse platea dictumst vestibulum rhoncus. Amet massa vitae tortor condimentum. Justo eget magna fermentum iaculis eu non diam. Facilisi cras fermentum odio eu feugiat pretium. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Quis lectus nulla at volutpat diam ut venenatis tellus in.
            .blog-post-footer.text-md-left
              .tags
                a.post-tags(href='#') Movies
                a.post-tags(href='#') News
                a.post-tags(href='#') Premieres
              .badge.offset-custom-9
                 a(href="blog_post.html ").text-gray 10 Comments

      .col-12.col-lg-4.offset-lg-2.inset-1.timeline-right
        article.blog-post.thumbnail.view-animate.well3
          .img-wrap.view-animate
            img(src="images/blog-4.jpg" alt="")
          .caption-mod-1
            .blog-post-time
              time(datetime="2018-10-07") November 7, 2018 &nbsp;
              span by Walter Myers
            .blog-post-title
              h4.text-success-custom
                a(href="blog_post.html") "ANIMALS" CANCELED AFTER THREE SEASONS AT HBO
            .blog-post-body.text-md-left
              p Leo urna molestie at elementum eu facilisis sed odio. Dolor magna eget est lorem. Nisi scelerisque eu ultrices vitae auctor eu. Viverra vitae congue eu consequat ac. Feugiat sed lectus vestibulum mattis ullamcorper velit. Mauris augue neque gravida in fermentum et sollicitudin ac. Fermentum iaculis eu non diam. Aliquet nec ullamcorper sit amet. Malesuada pellentesque elit eget gravida.
            .blog-post-footer.text-md-left
              .tags
                a.post-tags(href='#') Movies
                a.post-tags(href='#') News
                a.post-tags(href='#') Premieres
              .badge.offset-custom-9
                 a(href="blog_post.html ").text-gray 10 Comments