section.section.section-inset-2.bg-gray-900
  .container
    h2 What we offer
    hr
    .row.row-60
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-default
          .pricing-head
            h3.fw-r mini
          ul.pricing-body.marked-list-mod-1
            li Action Movies
            li Dramas
            li Sci-Fi
            li Comedies
          .price
            h2 29/
              span mo.
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-success(href="#") Buy Now
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-default
          .pricing-head
            h3.fw-r medium
          ul.pricing-body.marked-list-mod-2
            li Action Movies
            li Dramas
            li Sci-Fi
            li Comedies
          .price
            h2 49/
              span mo.
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-success(href="#") Buy Now
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-default
          .pricing-head
            h3.fw-r normal
          ul.pricing-body.marked-list-mod-3
            li Action Movies
            li Dramas
            li Sci-Fi
            li Comedies
          .price
            h2 79/
              span mo.
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-success(href="#") Buy Now
      .col-12.col-md-6.col-xl-3
        .pricing-wrapper-mod-2.thumbnail-mod-1.bg-default
          .pricing-head
            h3.fw-r super
          ul.pricing-body.marked-list-mod-4
            li Action Movies
            li Dramas
            li Sci-Fi
            li Comedies
          .price
            h2 109/
              span mo.
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-success(href="#") Buy Now
