section.section.section-inset-1
  .container
    h2 special offers
    hr
    .row.row-60
      .col-12.col-md-6.col-xl-4
        .pricing-wrapper-mod-3.thumbnail-mod-2.bg-light
          .pricing-head
            h3.fw-r Basic
          ul.pricing-body
            li Action Movies
            li Dramas
            li Cartoons
            li Classic Movies
            li Thrillers
            li Romantic Movies
          .price
            h2 19.99
              span per month
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-success.btn-min-width-xs(href="#") Buy Now
      .col-12.col-md-6.col-xl-4
        .pricing-wrapper-mod-3.thumbnail-mod-2.bg-light
          .pricing-head
            h3.fw-r Standard
          ul.pricing-body
            li Crime Movies
            li Adventure Films
            li Historical Movies
            li Musicals
            li Historical Movies
            li Comedies
          .price
            h2 49.99
              span per month
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-success.btn-min-width-xs(href="#") Buy Now
      .col-12.col-md-12.col-xl-4
        .pricing-wrapper-mod-3.thumbnail-mod-2.bg-light
          .pricing-head
            h3.fw-r Advanced
          ul.pricing-body
            li Horror Movies
            li Science Fiction
            li Westerns
            li Fantasy
            li Superhero Movies
            li Mystery Movies
          .price
            h2 79.99
              span per month
          .pricing-footer
            a.btn.btn-sm.btn-min-width.btn-success.btn-min-width-xs(href="#") Buy Now