section.section
  .container
    h2 Table Styles
    hr
    p Tables have always been perfect for displaying facts and numbers.
    .row.offset-custom-2
      .col-12
        .table-responsive
          table.table.table-bordered.text-left
            thead
              tr.bg-success-custom
                th Column 1
                th Column 2
                th Column 3
                th Column 4
            tbody
              tr
                td Item #1
                td Description
                td Subtotal:
                td $1.00
              tr
                td Item #2
                td Description
                td Discount:
                td $2.00
              tr
                td Item #3
                td Description
                td Shipping:
                td $3.00
              tr
                td Item #4
                td Description
                td Tax:
                td $4.00
              tr.fw-b
                td All Items
                td Description
                td Your Total:
                td $10.00
    .row.offset-custom-2
      .col-12
        .table-responsive
          table.table.table-hover.text-left
            thead
              tr.bg-light
                th Column 1
                th Column 2
                th Column 3
                th Column 4
            tbody
              tr
                td Item #1
                td Description
                td Subtotal:
                td $1.00
              tr
                td Item #2
                td Description
                td Discount:
                td $2.00
              tr
                td Item #3
                td Description
                td Shipping:
                td $3.00
              tr
                td Item #4
                td Description
                td Tax:
                td $4.00
              tr.fw-b
                td All Items
                td Description
                td Your Total:
                td $10.00
    .row.offset-custom-2
      .col-12
        .table-responsive
          table.table.table-striped.text-left
            thead
              tr.bg-accent
                th Column 1
                th Column 2
                th Column 3
                th Column 4
            tbody
              tr
                td Item #1
                td Description
                td Subtotal:
                td $1.00
              tr
                td Item #2
                td Description
                td Discount:
                td $2.00
              tr
                td Item #3
                td Description
                td Shipping:
                td $3.00
              tr
                td Item #4
                td Description
                td Tax:
                td $4.00
              tr.fw-b
                td All Items
                td Description
                td Your Total:
                td $10.00